In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train_maybe_final.csv')

In [3]:
last_assessments = pd.read_csv('last_assessments.csv')

In [4]:
last_assessments.head()

,Unnamed: 0,installation_id,game_session,timestamp,accuracy_group
0,2617,0006a69f,a9ef3ecb3d1acc6a,2019-08-06 20:50:35.426000+00:00,3.0
1,6022,0006c192,957406a905d59afd,2019-10-01 01:02:46.523000+00:00,2.0
2,6067,00129856,ae691ec5ad5652cf,2019-09-22 16:33:10.216000+00:00,3.0
3,7263,001d0ed0,8fdd5d389d0e272e,2019-09-05 14:29:16.342000+00:00,0.0
4,8523,00225f67,619b9c069cf790ca,2019-10-06 00:05:17.306000+00:00,0.0

In [5]:
last_assessments['accuracy_group1'] = last_assessments.accuracy_group.map({3:3,2:4,1:4,0:4})
last_assessments.head()

,Unnamed: 0,installation_id,game_session,timestamp,accuracy_group,accuracy_group1
0,2617,0006a69f,a9ef3ecb3d1acc6a,2019-08-06 20:50:35.426000+00:00,3.0,3
1,6022,0006c192,957406a905d59afd,2019-10-01 01:02:46.523000+00:00,2.0,4
2,6067,00129856,ae691ec5ad5652cf,2019-09-22 16:33:10.216000+00:00,3.0,3
3,7263,001d0ed0,8fdd5d389d0e272e,2019-09-05 14:29:16.342000+00:00,0.0,4
4,8523,00225f67,619b9c069cf790ca,2019-10-06 00:05:17.306000+00:00,0.0,4

In [6]:
last_assessments.accuracy_group.value_counts(normalize = True)

3.0    0.451320
0.0    0.283849
1.0    0.135964
2.0    0.128867
Name: accuracy_group, dtype: float64

In [7]:
last_assessments.accuracy_group1.value_counts(normalize = True)

4    0.54868
3    0.45132
Name: accuracy_group1, dtype: float64

In [8]:
df.shape

(5310606, 19)

In [9]:
df.installation_id.nunique()

3485

In [10]:
#create columns game_mins convert game_time to minutes.
df['game_mins'] = df.game_time/60_000

In [11]:
types = df.groupby(['installation_id', 'game_session', 'type']).count().reset_index()[['installation_id', 'game_session', 'type']]

In [12]:
accuracy_groups = df[df.type =='Assessment'].groupby(['installation_id','game_session','type','accuracy_group']).count().reset_index()

In [13]:
accuracy_groups.accuracy_group.value_counts(normalize = True)

3.0    0.525551
0.0    0.215757
1.0    0.133884
2.0    0.124807
Name: accuracy_group, dtype: float64

In [14]:
installation_accuracy = pd.crosstab(accuracy_groups.installation_id, accuracy_groups.accuracy_group)

In [15]:
installation_accuracy

accuracy_group   0.0  1.0  2.0  3.0
installation_id
0006a69f           1    0    1    2
0006c192           1    0    0    1
001d0ed0           1    0    1    2
002db7e3           2    1    2    3
003372b0           1    0    1    3
004c2091           1    0    0    2
00634433           0    0    0    2
00667b88           0    0    0    1
00691033           5    2    0    1
00a0dbeb           3    0    0    0
00e17272           0    0    2    5
00e536bf           1    1    1    4
00fa8681           1    0    0    1
00fc65b6           0    2    1    5
010bc1d5           0    0    0    1
0155dd86           2    0    0    2
015776b4           2    0    0    2
01582211           2    0    1    1
01825124           0    1    0    1
01bdd720           1    0    0    3
01cc53f3           0    0    0    3
01f71702           1    0    1    3
01faa4bf           0    0    1    2
022183ab           7    2    0    4
0235fe9a           2    0    1    1
023c4bcb           0    0    0    1
026035e9           0    0    0    2
027b3c4c           0    0    0    2
0281f6bf           2    0    1    2
02875dc2           0    0    0    1
...              ...  ...  ...  ...
fc30ec02           7    0    0    8
fc3a02a4           0    2    1    2
fc3eae77           2    1    0    0
fc48b6a0           1    0    0    1
fc4ad96c           2    1    0    4
fc70e779           5    0    1    3
fc771ea3           0    1    0    0
fcb0a469           0    2    0    0
fcd3ed61           0    1    0    0
fce2b016           0    0    0    1
fcecab06           3    0    1    2
fd02a7e0           0    0    0    5
fd1c8d0b           0    0    0    1
fd5385c7           5    0    1    0
fd6e3ad6           1    2    0    1
fd997268           0    0    0    1
fddf4b1e           0    0    0    1
fdf4eb95           1    0    1    0
fe191c4a           0    0    1    0
fe488283           0    1    0    0
fe4d880a           1    0    0    1
fe5f0699           0    0    0    2
fe73bf4b           0    1    0    1
ff3e1e35           2    3    0    7
ff882868           0    1    0    0
ff90db99           0    1    0    5
ff9305d7           2    1    0    0
ff9715db           1    1    1    5
ffc90c32           0    1    0    4
ffeb0b1b           1    1    0    0

[2496 rows x 4 columns]

In [16]:
installation_type = pd.crosstab(types.installation_id, types.type)

In [17]:
installation_type

type             Activity  Assessment  Clip  Game
installation_id
0006a69f               10           4    28    13
0006c192                8           2    30     6
001d0ed0                1           4    19     3
00225f67                3           0    10     3
00279ac5               10           0    21    11
002db7e3               15           8    39    11
003372b0                8           5    27    11
004c2091                7           3    21     1
00634433                0           2     7     1
00667b88                4           1    37     2
00691033               15           8    30    15
00a0dbeb                1           3    20     1
00a53963                0           0     1     0
00ad158e                6           0    19     2
00b9d8e6                1           0     7     2
00cef781                0           0     8     1
00e17272                2           7    16    11
00e536bf                6           7    19     8
00fa8681               21           2    80    10
00fc65b6               15           8    34    26
010bc1d5                4           1     5     1
01120f12                3           0     1     1
0153c957                6           0    14     5
0155dd86                5           4    17    10
015776b4               10           4    28    17
01582211                7           4    30    15
0160e7c5                0           0     2     2
01825124                5           2    11     4
01bdd720                8           4    30    12
01cc53f3                4           3     9     8
...                   ...         ...   ...   ...
fd5385c7               15           6    34    18
fd6e3ad6                9           4    26     7
fd8ee8db                4           0     2     2
fd97b5b2                0           0     7     2
fd997268                1           1     6     2
fd99b7b3                0           0     3     2
fdd082f9                2           0     8     2
fddf4b1e               11           1    20    22
fdf4eb95                0           2     6     3
fe191c4a                3           1    12     3
fe1a1d3f                1           0     0     1
fe488283                3           1     4     1
fe4a63a7                1           0     2     0
fe4d880a                6           2     9     3
fe5f0699                4           2    19     5
fe73bf4b                6           2     8     4
fe769df4                7           0    11     7
fe9f9b60                0           0     8     4
fed331e8                2           0     8     2
ff00d909                2           0    11     2
ff107709                0           0     4     0
ff24ea49                1           0     2     0
ff3e1e35               20          12    42    23
ff882868                3           1     4     0
ff90db99               13           6    48    25
ff9305d7                7           3    11     5
ff9715db               11           8    16     6
ffc90c32                7           5    26    11
ffd2871d                2           0     3     3
ffeb0b1b                4           2    24     6

[3485 rows x 4 columns]

In [18]:
history = pd.concat([installation_accuracy, installation_type], axis=1)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [19]:
labels = last_assessments.set_index('installation_id')[['accuracy_group','accuracy_group1']]

In [20]:
beta = pd.concat([history, labels], axis = 1)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [21]:
beta.reset_index(inplace = True)

In [22]:
beta.rename(columns = {'index': 'installation_id'}, inplace = True)

In [23]:
beta.head()

,installation_id,0.0,1.0,2.0,3.0,Activity,Assessment,Clip,Game,accuracy_group,accuracy_group1
0,0006a69f,1.0,0.0,1.0,2.0,10.0,4.0,28.0,13.0,3.0,3
1,0006c192,1.0,0.0,0.0,1.0,8.0,2.0,30.0,6.0,2.0,4
2,00129856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3
3,001d0ed0,1.0,0.0,1.0,2.0,1.0,4.0,19.0,3.0,0.0,4
4,00225f67,NaN,NaN,NaN,NaN,3.0,0.0,10.0,3.0,0.0,4

# max_ceiling

In [24]:
max_ceiling = df[df.type == "Assessment"].groupby(["installation_id","game_session"])[['accuracy_group']].max().reset_index().sort_values(by=["installation_id","accuracy_group"],ascending=False)

In [25]:
max_ceiling = max_ceiling.drop_duplicates(subset="installation_id",keep="first").drop(columns=['game_session']).rename(columns = {'accuracy_group': 'max_accuracy_group'}).reset_index().drop(columns = ['index'])

In [26]:
max_ceiling

     installation_id  max_accuracy_group
0           ffeb0b1b                 1.0
1           ffc90c32                 3.0
2           ff9715db                 3.0
3           ff9305d7                 1.0
4           ff90db99                 3.0
5           ff882868                 1.0
6           ff3e1e35                 3.0
7           fe73bf4b                 3.0
8           fe5f0699                 3.0
9           fe4d880a                 3.0
10          fe488283                 1.0
11          fe191c4a                 2.0
12          fdf4eb95                 2.0
13          fddf4b1e                 3.0
14          fd997268                 3.0
15          fd6e3ad6                 3.0
16          fd5385c7                 2.0
17          fd1c8d0b                 3.0
18          fd02a7e0                 3.0
19          fcecab06                 3.0
20          fce2b016                 3.0
21          fcd3ed61                 1.0
22          fcb0a469                 1.0
23          fc771ea3                 1.0
24          fc70e779                 3.0
25          fc4ad96c                 3.0
26          fc48b6a0                 3.0
27          fc3eae77                 1.0
28          fc3a02a4                 3.0
29          fc30ec02                 3.0
...              ...                 ...
2466        02875dc2                 3.0
2467        0281f6bf                 3.0
2468        027b3c4c                 3.0
2469        026035e9                 3.0
2470        023c4bcb                 3.0
2471        0235fe9a                 3.0
2472        022183ab                 3.0
2473        01faa4bf                 3.0
2474        01f71702                 3.0
2475        01cc53f3                 3.0
2476        01bdd720                 3.0
2477        01825124                 3.0
2478        01582211                 3.0
2479        015776b4                 3.0
2480        0155dd86                 3.0
2481        010bc1d5                 3.0
2482        00fc65b6                 3.0
2483        00fa8681                 3.0
2484        00e536bf                 3.0
2485        00e17272                 3.0
2486        00a0dbeb                 0.0
2487        00691033                 3.0
2488        00667b88                 3.0
2489        00634433                 3.0
2490        004c2091                 3.0
2491        003372b0                 3.0
2492        002db7e3                 3.0
2493        001d0ed0                 3.0
2494        0006c192                 3.0
2495        0006a69f                 3.0

[2496 rows x 2 columns]

# Median accuracy

In [27]:
median_accuracy_group = df[df.type == "Assessment"].groupby(["installation_id","game_session"])[['accuracy_group']].median().reset_index().sort_values(by=["installation_id","accuracy_group"],ascending=False)

In [28]:
median_accuracy_group = median_accuracy_group.drop_duplicates(subset="installation_id",keep="first").drop(columns=['game_session']).rename(columns = {'accuracy_group': 'median_accuracy_group'}).reset_index().drop(columns = ['index'])

In [29]:
median_accuracy_group

     installation_id  median_accuracy_group
0           ffeb0b1b                    1.0
1           ffc90c32                    3.0
2           ff9715db                    3.0
3           ff9305d7                    1.0
4           ff90db99                    3.0
5           ff882868                    1.0
6           ff3e1e35                    3.0
7           fe73bf4b                    3.0
8           fe5f0699                    3.0
9           fe4d880a                    3.0
10          fe488283                    1.0
11          fe191c4a                    2.0
12          fdf4eb95                    2.0
13          fddf4b1e                    3.0
14          fd997268                    3.0
15          fd6e3ad6                    3.0
16          fd5385c7                    2.0
17          fd1c8d0b                    3.0
18          fd02a7e0                    3.0
19          fcecab06                    3.0
20          fce2b016                    3.0
21          fcd3ed61                    1.0
22          fcb0a469                    1.0
23          fc771ea3                    1.0
24          fc70e779                    3.0
25          fc4ad96c                    3.0
26          fc48b6a0                    3.0
27          fc3eae77                    1.0
28          fc3a02a4                    3.0
29          fc30ec02                    3.0
...              ...                    ...
2466        02875dc2                    3.0
2467        0281f6bf                    3.0
2468        027b3c4c                    3.0
2469        026035e9                    3.0
2470        023c4bcb                    3.0
2471        0235fe9a                    3.0
2472        022183ab                    3.0
2473        01faa4bf                    3.0
2474        01f71702                    3.0
2475        01cc53f3                    3.0
2476        01bdd720                    3.0
2477        01825124                    3.0
2478        01582211                    3.0
2479        015776b4                    3.0
2480        0155dd86                    3.0
2481        010bc1d5                    3.0
2482        00fc65b6                    3.0
2483        00fa8681                    3.0
2484        00e536bf                    3.0
2485        00e17272                    3.0
2486        00a0dbeb                    0.0
2487        00691033                    3.0
2488        00667b88                    3.0
2489        00634433                    3.0
2490        004c2091                    3.0
2491        003372b0                    3.0
2492        002db7e3                    3.0
2493        001d0ed0                    3.0
2494        0006c192                    3.0
2495        0006a69f                    3.0

[2496 rows x 2 columns]

# Low accuracy_group

In [30]:
low_accuracy_group = df[df.type == "Assessment"].groupby(["installation_id","game_session"])[['accuracy_group']].min().reset_index().sort_values(by=["installation_id","accuracy_group"],ascending=False)

In [31]:
low_accuracy_group = low_accuracy_group.drop_duplicates(subset="installation_id",keep="first").drop(columns=['game_session']).rename(columns = {'accuracy_group': 'low_accuracy_group'}).reset_index().drop(columns = ['index'])
low_accuracy_group

     installation_id  low_accuracy_group
0           ffeb0b1b                 1.0
1           ffc90c32                 3.0
2           ff9715db                 3.0
3           ff9305d7                 1.0
4           ff90db99                 3.0
5           ff882868                 1.0
6           ff3e1e35                 3.0
7           fe73bf4b                 3.0
8           fe5f0699                 3.0
9           fe4d880a                 3.0
10          fe488283                 1.0
11          fe191c4a                 2.0
12          fdf4eb95                 2.0
13          fddf4b1e                 3.0
14          fd997268                 3.0
15          fd6e3ad6                 3.0
16          fd5385c7                 2.0
17          fd1c8d0b                 3.0
18          fd02a7e0                 3.0
19          fcecab06                 3.0
20          fce2b016                 3.0
21          fcd3ed61                 1.0
22          fcb0a469                 1.0
23          fc771ea3                 1.0
24          fc70e779                 3.0
25          fc4ad96c                 3.0
26          fc48b6a0                 3.0
27          fc3eae77                 1.0
28          fc3a02a4                 3.0
29          fc30ec02                 3.0
...              ...                 ...
2466        02875dc2                 3.0
2467        0281f6bf                 3.0
2468        027b3c4c                 3.0
2469        026035e9                 3.0
2470        023c4bcb                 3.0
2471        0235fe9a                 3.0
2472        022183ab                 3.0
2473        01faa4bf                 3.0
2474        01f71702                 3.0
2475        01cc53f3                 3.0
2476        01bdd720                 3.0
2477        01825124                 3.0
2478        01582211                 3.0
2479        015776b4                 3.0
2480        0155dd86                 3.0
2481        010bc1d5                 3.0
2482        00fc65b6                 3.0
2483        00fa8681                 3.0
2484        00e536bf                 3.0
2485        00e17272                 3.0
2486        00a0dbeb                 0.0
2487        00691033                 3.0
2488        00667b88                 3.0
2489        00634433                 3.0
2490        004c2091                 3.0
2491        003372b0                 3.0
2492        002db7e3                 3.0
2493        001d0ed0                 3.0
2494        0006c192                 3.0
2495        0006a69f                 3.0

[2496 rows x 2 columns]

# Average Number of Actions

In [32]:
average_no_actions = df.groupby(['installation_id','game_session'])[['event_id']].count().reset_index().groupby(['installation_id'])[['event_id']].mean().rename(columns = {'event_id': 'avg_no_actions'}).reset_index()

In [33]:
average_no_actions = average_no_actions.sort_values(by=['installation_id'], ascending=False)
average_no_actions

     installation_id  avg_no_actions
3484        ffeb0b1b       42.555556
3483        ffd2871d      111.000000
3482        ffc90c32       40.061224
3481        ff9715db       46.512195
3480        ff9305d7       73.884615
3479        ff90db99       44.586957
3478        ff882868       51.500000
3477        ff3e1e35       41.979381
3476        ff24ea49       11.666667
3475        ff107709        1.000000
3474        ff00d909       19.400000
3473        fed331e8       38.500000
3472        fe9f9b60       61.000000
3471        fe769df4       77.680000
3470        fe73bf4b       59.600000
3469        fe5f0699       33.233333
3468        fe4d880a       57.600000
3467        fe4a63a7       29.333333
3466        fe488283       73.111111
3465        fe1a1d3f       51.500000
3464        fe191c4a       25.315789
3463        fdf4eb95       36.545455
3462        fddf4b1e       63.222222
3461        fdd082f9       52.916667
3460        fd99b7b3       30.400000
3459        fd997268       35.500000
3458        fd97b5b2       29.333333
3457        fd8ee8db       81.375000
3456        fd6e3ad6       33.739130
3455        fd5385c7       26.671233
...              ...             ...
29          01cc53f3       40.458333
28          01bdd720       59.148148
27          01825124       51.363636
26          0160e7c5       75.000000
25          01582211       38.910714
24          015776b4       59.644068
23          0155dd86       56.305556
22          0153c957       58.640000
21          01120f12       98.600000
20          010bc1d5       45.818182
19          00fc65b6       79.421687
18          00fa8681       33.132743
17          00e536bf       39.800000
16          00e17272       36.750000
15          00cef781       17.888889
14          00b9d8e6        6.300000
13          00ad158e       31.592593
12          00a53963        1.000000
11          00a0dbeb       14.360000
10          00691033       30.470588
9           00667b88        9.818182
8           00634433       19.600000
7           004c2091        7.812500
6           003372b0       34.235294
5           002db7e3       46.287671
4           00279ac5       59.523810
3           00225f67       36.000000
2           001d0ed0       13.777778
1           0006c192       43.891304
0           0006a69f       46.709091

[3485 rows x 2 columns]

# Number of visits to each world

In [34]:
worlds = df.groupby(['installation_id','game_session','world']).count()[['event_id']].reset_index()

In [35]:
world_visits = pd.crosstab(worlds.installation_id, worlds.world)
world_visits

world            CRYSTALCAVES  MAGMAPEAK  NONE  TREETOPCITY
installation_id
0006a69f                    0         13     3           39
0006c192                   12         14     4           16
001d0ed0                   14          0     1           12
00225f67                    0          0     1           15
00279ac5                   12          9     4           17
002db7e3                   15         22     4           32
003372b0                   20          9     1           21
004c2091                   18          9     0            5
00634433                    6          3     1            0
00667b88                   11         17     3           13
00691033                   15         20     4           29
00a0dbeb                    7          4     4           10
00a53963                    0          0     0            1
00ad158e                    5         10     3            9
00b9d8e6                    9          0     1            0
00cef781                    9          0     0            0
00e17272                   14         12     2            8
00e536bf                   26          5     0            9
00fa8681                   44         22     4           43
00fc65b6                   45         22     2           14
010bc1d5                    0          3     0            8
01120f12                    0          4     0            1
0153c957                    6          4     0           15
0155dd86                   31          0     2            3
015776b4                   28         13     1           17
01582211                   32         12     3            9
0160e7c5                    3          0     1            0
01825124                    0          4     1           17
01bdd720                   27          7     2           18
01cc53f3                    9          9     2            4
...                       ...        ...   ...          ...
fd5385c7                   15         22     2           34
fd6e3ad6                   12          7     2           25
fd8ee8db                    2          5     0            1
fd97b5b2                    9          0     0            0
fd997268                    8          1     0            1
fd99b7b3                    0          4     1            0
fdd082f9                    9          2     1            0
fddf4b1e                   17         29     1            7
fdf4eb95                    0          6     1            4
fe191c4a                   10          5     1            3
fe1a1d3f                    0          2     0            0
fe488283                    0          5     0            4
fe4a63a7                    0          0     0            3
fe4d880a                    0          2     3           15
fe5f0699                   10          3     2           15
fe73bf4b                   10          5     1            4
fe769df4                    5         15     2            3
fe9f9b60                    6          0     3            3
fed331e8                    0          0     0           12
ff00d909                    2          0     2           11
ff107709                    0          2     2            0
ff24ea49                    0          0     0            3
ff3e1e35                   35         29     0           33
ff882868                    1          6     1            0
ff90db99                   32         21     5           34
ff9305d7                   11          5     0           10
ff9715db                   16         12     0           13
ffc90c32                   14         12     1           22
ffd2871d                    0          7     1            0
ffeb0b1b                    9          8     3           16

[3485 rows x 4 columns]

# Number of assessments in each world:

In [36]:
assessment_worlds = df[df.type == 'Assessment'].groupby(['installation_id', 'game_session','world']).count()[['event_id']].reset_index()

In [37]:
assessment_worlds = pd.crosstab(assessment_worlds.installation_id, assessment_worlds.world).rename(columns = {'CRYSTALCAVES': 'assesments_CC', 'MAGMAPEAK': 'assessments_MP', 'TREETOPCITY': 'Assessments_TTC'})

# Number of minutes in each type

In [38]:
df.columns

Index(['Unnamed: 0', 'event_id', 'game_session', 'timestamp', 'event_data',
       'installation_id', 'event_count', 'event_code', 'game_time', 'title',
       'type', 'world', 'num_correct', 'num_incorrect', 'accuracy',
       'accuracy_group', 'date', 'hour', 'weekday', 'game_mins'],
      dtype='object')

In [39]:
game_time_group = df.groupby(['installation_id', 'game_session', 'type','date','weekday'])[['game_mins']].max().reset_index()

In [40]:
agg = game_time_group.groupby(['installation_id', 'type'])[['game_mins']].sum()

In [41]:
agg = agg.reset_index()

In [42]:
game_mins = agg.pivot(index = 'installation_id', columns = 'type', values = 'game_mins')

In [43]:
game_mins.fillna(0, inplace= True)

In [44]:
game_mins = game_mins.reset_index()

In [45]:
game_mins.head()

type installation_id   Activity  Assessment  Clip       Game
0           0006a69f  40.428983    3.187867   0.0  21.988250
1           0006c192  20.175500    1.771617   0.0   8.834550
2           001d0ed0   0.477983    2.609250   0.0   4.459850
3           00225f67   3.612000    0.000000   0.0   5.462883
4           00279ac5  25.135867    0.000000   0.0  50.541133

In [46]:
game_mins.columns

Index(['installation_id', 'Activity', 'Assessment', 'Clip', 'Game'], dtype='object', name='type')

In [47]:
game_mins.columns = ['installation_id', 'activity_mins', 'assessment_mins','clip_mins', 'game_mins']

In [48]:
game_mins.head()

  installation_id  activity_mins  assessment_mins  clip_mins  game_mins
0        0006a69f      40.428983         3.187867        0.0  21.988250
1        0006c192      20.175500         1.771617        0.0   8.834550
2        001d0ed0       0.477983         2.609250        0.0   4.459850
3        00225f67       3.612000         0.000000        0.0   5.462883
4        00279ac5      25.135867         0.000000        0.0  50.541133

In [49]:

assess = df[df.type == 'Assessment']

In [50]:
groups = assess.groupby(['title', 'accuracy_group'])[['installation_id']].count().reset_index()

In [51]:
groups.columns = ['title', 'accuracy_group', 'users']
groups.head()

                        title  accuracy_group  users
0  Bird Measurer (Assessment)             0.0  32002
1  Bird Measurer (Assessment)             1.0  43559
2  Bird Measurer (Assessment)             2.0  13192
3  Bird Measurer (Assessment)             3.0  20067
4  Cart Balancer (Assessment)             0.0  17796

In [52]:
# make median dataframe
med = assess.groupby(['installation_id', 'title'])[['accuracy']].median()

In [53]:
med.reset_index(inplace = True)

In [54]:
med_title = med.pivot(index = 'installation_id', columns = 'title', values = 'accuracy')

In [55]:
med_title.fillna(value = 0, inplace = True)

In [56]:
med_title.reset_index(inplace = True)

In [57]:
med_title.columns = ['installation_id', 'bird_med', 'cart_med', 'cauld_med', 'chest_med', 'shroom_med']

In [58]:
med_title.head()

  installation_id  bird_med  cart_med  cauld_med  chest_med  shroom_med
0        0006a69f  0.000000       0.0        0.0        0.0         1.0
1        0006c192  0.000000       0.0        1.0        0.0         0.0
2        001d0ed0  0.000000       1.0        0.0        0.0         0.5
3        002db7e3  0.090909       1.0        1.0        0.0         0.5
4        003372b0  0.500000       1.0        0.0        0.0         1.0

In [59]:
# create mean dataframe
mean_ = assess.groupby(['installation_id', 'title'])[['accuracy']].mean()
mean_.head()

                                              accuracy
installation_id title
0006a69f        Bird Measurer (Assessment)       0.000
                Mushroom Sorter (Assessment)     0.832
0006c192        Cauldron Filler (Assessment)     1.000
                Mushroom Sorter (Assessment)     0.000
001d0ed0        Bird Measurer (Assessment)       0.000

In [60]:
mean_.reset_index(inplace = True)
mean_.head()

  installation_id                         title  accuracy
0        0006a69f    Bird Measurer (Assessment)     0.000
1        0006a69f  Mushroom Sorter (Assessment)     0.832
2        0006c192  Cauldron Filler (Assessment)     1.000
3        0006c192  Mushroom Sorter (Assessment)     0.000
4        001d0ed0    Bird Measurer (Assessment)     0.000

In [61]:
mean_title = mean_.pivot(index = 'installation_id', columns = 'title', values = 'accuracy')
mean_title.head()

title,Bird Measurer (Assessment),Cart Balancer (Assessment),Cauldron Filler (Assessment),Chest Sorter (Assessment),Mushroom Sorter (Assessment)
installation_id,,,,,
0006a69f,0.000000,NaN,NaN,NaN,0.832000
0006c192,NaN,NaN,1.0,NaN,0.000000
001d0ed0,0.000000,1.0,NaN,NaN,0.683168
002db7e3,0.227273,1.0,1.0,0.0,0.723529
003372b0,0.500000,1.0,NaN,0.0,1.000000

In [62]:
mean_title.fillna(0, inplace = True)
mean_title.head()

title,Bird Measurer (Assessment),Cart Balancer (Assessment),Cauldron Filler (Assessment),Chest Sorter (Assessment),Mushroom Sorter (Assessment)
installation_id,,,,,
0006a69f,0.000000,0.0,0.0,0.0,0.832000
0006c192,0.000000,0.0,1.0,0.0,0.000000
001d0ed0,0.000000,1.0,0.0,0.0,0.683168
002db7e3,0.227273,1.0,1.0,0.0,0.723529
003372b0,0.500000,1.0,0.0,0.0,1.000000

In [63]:
mean_title.reset_index(inplace = True)
# mean_title.head()

In [64]:
mean_title.columns = ['installation_id', 'bird_mean', 'cart_mean', 'cauld_mean', 'chest_mean','shroom_mean']

In [65]:
mean_title.head()

  installation_id  bird_mean  cart_mean  cauld_mean  chest_mean  shroom_mean
0        0006a69f   0.000000        0.0         0.0         0.0     0.832000
1        0006c192   0.000000        0.0         1.0         0.0     0.000000
2        001d0ed0   0.000000        1.0         0.0         0.0     0.683168
3        002db7e3   0.227273        1.0         1.0         0.0     0.723529
4        003372b0   0.500000        1.0         0.0         0.0     1.000000

In [66]:
# Create min df
min_ = assess.groupby(['installation_id', 'title'])[['accuracy']].min()

In [67]:
min_.reset_index(inplace = True)

In [68]:
min_title = min_.pivot(index = 'installation_id', columns = 'title', values = 'accuracy')

In [69]:
min_title.fillna(0, inplace = True)

In [70]:
min_title.reset_index(inplace = True)

In [71]:
min_title.columns = ['installation_id', 'bird_min', 'cart_min', 'cauld_min', 'chest_min', 'shroom_min']

In [72]:
# create max dataframe
max_ = assess.groupby(['installation_id', 'title'])[['accuracy']].max()

In [73]:
max_.reset_index(inplace = True)

In [74]:
max_title = max_.pivot(index = 'installation_id', columns = 'title', values = 'accuracy')

In [75]:
max_title.fillna(0, inplace = True)

In [76]:
max_title.reset_index(inplace = True)

In [77]:
max_title.columns = ['installation_id', 'bird_max', 'cart_max', 'cauld_max', 'chest_max', 'shroom_max']

# ACCURACY TENDENCY

In [78]:
import numpy as np

In [79]:
assessment = df[df.type == 'Assessment']

In [80]:
tendency = assessment.groupby(['installation_id','game_session',"accuracy"])[['accuracy']].count().rename(columns={"accuracy":"acc"}).sort_values(by=["installation_id","acc"],ascending=False).reset_index()

tendency = tendency.drop_duplicates(subset="installation_id",keep="first")
tendency = tendency[["installation_id","accuracy"]]

In [81]:
condition_list = [tendency.accuracy == 0, tendency.accuracy == 0.5,tendency.accuracy == 1, (~tendency.accuracy.isin([0,1,0.5]))]
choice_list = ["low_scorer","avg_scorer","high_scorer","random_scorer"]

tendency["group"] = np.select(condition_list,choice_list,0)

In [82]:
tendency = pd.get_dummies(tendency,columns=["group"], prefix="tendency")
tendency = tendency[['installation_id','tendency_avg_scorer','tendency_high_scorer', 'tendency_low_scorer','tendency_random_scorer']].set_index("installation_id")

In [83]:
tendency.shape

(2496, 4)

In [84]:
tendency.reset_index(inplace = True)

In [85]:
tendency.head()

,installation_id,tendency_avg_scorer,tendency_high_scorer,tendency_low_scorer,tendency_random_scorer
0,ffeb0b1b,0,0,1,0
1,ffc90c32,0,0,0,1
2,ff9715db,0,0,1,0
3,ff9305d7,0,0,0,1
4,ff90db99,0,0,0,1

# Merge dataframes together

In [86]:
max_median_low = pd.concat([max_ceiling,median_accuracy_group[['median_accuracy_group']], low_accuracy_group[['low_accuracy_group']]], axis=1)
max_median_low_worlds = pd.merge(assessment_worlds, max_median_low, on = 'installation_id', how = 'left')
max_median_low_tendency = pd.merge(tendency, max_median_low_worlds, on = 'installation_id', how = 'left')

In [87]:
max_median_low_tendency.shape

(2496, 11)

In [88]:
max_median_low_worlds.shape

(2496, 7)

In [89]:
beta = pd.merge(beta, max_median_low_tendency, on='installation_id', how = 'left')

In [90]:

beta = pd.merge(beta, average_no_actions, on = 'installation_id', how = 'left')

In [91]:
beta = pd.merge(beta, world_visits, on ='installation_id', how = 'left')

In [92]:
beta = pd.merge(beta, game_mins, on = 'installation_id', how = 'left')

In [93]:
beta = pd.merge(beta, med_title, on = 'installation_id', how = 'left')

In [94]:
beta = pd.merge(beta, mean_title, on = 'installation_id', how = 'left')

In [95]:
beta = pd.merge(beta, min_title, on = 'installation_id', how = 'left')

In [96]:
beta = pd.merge(beta, max_title, on = 'installation_id', how = 'left')

In [97]:
beta.shape

(3523, 50)

In [98]:
beta.columns

Index([       'installation_id',                      0.0,
                            1.0,                      2.0,
                            3.0,               'Activity',
                   'Assessment',                   'Clip',
                         'Game',         'accuracy_group',
              'accuracy_group1',    'tendency_avg_scorer',
         'tendency_high_scorer',    'tendency_low_scorer',
       'tendency_random_scorer',          'assesments_CC',
               'assessments_MP',        'Assessments_TTC',
           'max_accuracy_group',  'median_accuracy_group',
           'low_accuracy_group',         'avg_no_actions',
                 'CRYSTALCAVES',              'MAGMAPEAK',
                         'NONE',            'TREETOPCITY',
                'activity_mins',        'assessment_mins',
                    'clip_mins',              'game_mins',
                     'bird_med',               'cart_med',
                    'cauld_med',              'chest_med',
                   'shroom_med',              'bird_mean',
                    'cart_mean',             'cauld_mean',
                   'chest_mean',            'shroom_mean',
                     'bird_min',               'cart_min',
                    'cauld_min',              'chest_min',
                   'shroom_min',               'bird_max',
                     'cart_max',              'cauld_max',
                    'chest_max',             'shroom_max'],
      dtype='object')

In [99]:
#drop_rows = beta[beta.max_accuracy_group.isna()].installation_id
#drop_rows

In [100]:
# beta1 = beta.drop(drop_rows.index)

In [101]:
beta1 = beta.fillna(0)
beta1

,installation_id,0.0,1.0,2.0,3.0,Activity,Assessment,Clip,Game,accuracy_group,...,bird_min,cart_min,cauld_min,chest_min,shroom_min,bird_max,cart_max,cauld_max,chest_max,shroom_max
0,0006a69f,1.0,0.0,1.0,2.0,10.0,4.0,28.0,13.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.0,0.000000,0.000000,1.000000
1,0006c192,1.0,0.0,0.0,1.0,8.0,2.0,30.0,6.0,2.0,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000
2,00129856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3,001d0ed0,1.0,0.0,1.0,2.0,1.0,4.0,19.0,3.0,0.0,...,0.000000,1.000000,0.000000,0.000000,0.500000,0.000000,1.0,0.000000,0.000000,1.000000
4,00225f67,0.0,0.0,0.0,0.0,3.0,0.0,10.0,3.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
5,00279ac5,0.0,0.0,0.0,0.0,10.0,0.0,21.0,11.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
6,002db7e3,2.0,1.0,2.0,3.0,15.0,8.0,39.0,11.0,1.0,...,0.090909,1.000000,1.000000,0.000000,0.500000,0.500000,1.0,1.000000,0.000000,1.000000
7,003372b0,1.0,0.0,1.0,3.0,8.0,5.0,27.0,11.0,3.0,...,0.500000,1.000000,0.000000,0.000000,1.000000,0.500000,1.0,0.000000,0.000000,1.000000
8,004c2091,1.0,0.0,0.0,2.0,7.0,3.0,21.0,1.0,0.0,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000
9,00634433,0.0,0.0,0.0,2.0,0.0,2.0,7.0,1.0,0.0,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.0,1.000000,0.000000,0.000000
10,00667b88,0.0,0.0,0.0,1.0,4.0,1.0,37.0,2.0,0.0,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000
11,00691033,5.0,2.0,0.0,1.0,15.0,8.0,30.0,15.0,0.0,...,0.000000,0.000000,0.333333,0.000000,0.000000,0.333333,0.0,1.000000,0.000000,0.000000
12,00a0dbeb,3.0,0.0,0.0,0.0,1.0,3.0,20.0,1.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
13,00a53963,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
14,00ad158e,0.0,0.0,0.0,0.0,6.0,0.0,19.0,2.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
15,00b9d8e6,0.0,0.0,0.0,0.0,1.0,0.0,7.0,2.0,2.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
16,00cef781,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
17,00e17272,0.0,0.0,2.0,5.0,2.0,7.0,16.0,11.0,3.0,...,0.500000,1.000000,1.000000,0.500000,1.000000,0.500000,1.0,1.000000,0.500000,1.000000
18,00e536bf,1.0,1.0,1.0,4.0,6.0,7.0,19.0,8.0,3.0,...,0.333333,1.000000,0.500000,0.000000,0.000000,0.333333,1.0,1.000000,1.000000,0.000000
19,00fa8681,1.0,0.0,0.0,1.0,21.0,2.0,80.0,10.0,1.0,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,1.000000
20,00fc65b6,0.0,2.0,1.0,5.0,15.0,8.0,34.0,26.0,3.0,...,1.000000,0.333333,0.500000,0.090909,1.000000,1.000000,1.0,0.500000,1.000000,1.000000
21,010bc1d5,0.0,0.0,0.0,1.0,4.0,1.0,5.0,1.0,0.0,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,1.000000
22,01120f12,0.0,0.0,0.0,0.0,3.0,0.0,1.0,1.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
23,0153c957,0.0,0.0,0.0,0.0,6.0,0.0,14.0,5.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
24,0155dd86,2.0,0.0,0.0,2.0,5.0,4.0,17.0,10.0,0.0,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000
25,015776b4,2.0,0.0,0.0,2.0,10.0,4.0,28.0,17.0,0.0,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000
26,01582211,2.0,0.0,1.0,1.0,7.0,4.0,30.0,15.0,3.0,...,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000
27,0160e7c5,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
28,01825124,0.0,1.0,0.0,1.0,5.0,2.0,11.0,4.0,1.0,...,0.250000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000
29,01bdd720,1.0,0.0,0.0,3.0,8.0,4.0,30.0,12.0,3.0,...,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.0,0.000000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3493,fd6e3ad6,1.0,2.0,0.0,1.0,9.0,4.0,26.0,7.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.090909,0.000000,1.0,0.000000,0.000000,0.090909
3494,fd8ee8db,0.0,0.0,0.0,0.0,4.0,0.0,2.0,2.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3495,fd97b5b2,0.0,0.0,0.0,0.0,0.0,0.0,7.0,2.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3496,fd997268,0.0,0.0,0.0,1.0,1.0,1.0,6.0,2.0,3.0,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,1.000000
3497,fd99b7b3,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3498,fdd082f9,0.0,0.0,0.0,0.0,2.0,0.0,8.0,2.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3499,fddf4b1e,0.0,0.0,0.0,1.0,11.0,1.0,20.0,22.0,3.0,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,1.000000
3500,fdf4eb95,1.0,0.0,1.0,0.0,0.0,2.0,6.0,3.0,3.0,...,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.0,0.500000,0.000000,0.000000
3501,fe191c4a,0.0,0.0,1.0,0.0,3.0,1.0,12.0,3.0,3.0,...,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.0,0.500000,0.000000,0.000000
3502,fe1a1d3f,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3503,fe488283,0.0,1.0,0.0,0.0,3.0,1.0,4.0,1.0,1.0,...,0.250000,0.000000,0.000000,0.000000,0.000000,0.250000,0.0,0.000000,0.000000,0.000000
3504,fe4a63a7,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3505,fe4d880a,1.0,0.0,0.0,1.0,6.0,2.0,9.0,3.0,2.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000
3506,fe5f0699,0.0,0.0,0.0,2.0,4.0,2.0,19.0,5.0,0.0,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,0.000000,0.000000,1.000000
3507,fe73bf4b,0.0,1.0,0.0,1.0,6.0,2.0,8.0,4.0,3.0,...,0.000000,1.000000,0.000000,0.333333,0.000000,0.000000,1.0,0.000000,0.333333,0.000000
3508,fe769df4,0.0,0.0,0.0,0.0,7.0,0.0,11.0,7.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3509,fe9f9b60,0.0,0.0,0.0,0.0,0.0,0.0,8.0,4.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3510,fed331e8,0.0,0.0,0.0,0.0,2.0,0.0,8.0,2.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3511,ff00d909,0.0,0.0,0.0,0.0,2.0,0.0,11.0,2.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3512,ff107709,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,2.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3513,ff24ea49,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3514,ff3e1e35,2.0,3.0,0.0,7.0,20.0,12.0,42.0,23.0,2.0,...,0.200000,1.000000,0.333333,0.000000,0.000000,0.333333,1.0,1.000000,0.000000,1.000000
3515,ff7fb595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3516,ff882868,0.0,1.0,0.0,0.0,3.0,1.0,4.0,0.0,3.0,...,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.0,0.333333,0.000000,0.000000
3517,ff90db99,0.0,1.0,0.0,5.0,13.0,6.0,48.0,25.0,3.0,...,0.333333,1.000000,1.000000,1.000000,1.000000,0.333333,1.0,1.000000,1.000000,1.000000
3518,ff9305d7,2.0,1.0,0.0,0.0,7.0,3.0,11.0,5.0,1.0,...,0.076923,0.000000,0.000000,0.000000,0.000000,0.076923,0.0,0.000000,0.000000,0.000000
3519,ff9715db,1.0,1.0,1.0,5.0,11.0,8.0,16.0,6.0,3.0,...,0.000000,0.000000,1.000000,0.250000,1.000000,0.000000,1.0,1.000000,0.500000,1.000000
3520,ffc90c32,0.0,1.0,0.0,4.0,7.0,5.0,26.0,11.0,3.0,...,1.000000,1.000000,1.000000,0.000000,0.333333,1.000000,1.0,1.000000,0.000000,1.000000
3521,ffd2871d,0.0,0.0,0.0,0.0,2.0,0.0,3.0,3.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3522,ffeb0b1b,1.0,1.0,0.0,0.0,4.0,2.0,24.0,6.0,1.0,...,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.0,0.333333,0.000000,0.000000

In [102]:
beta1.columns

Index([       'installation_id',                      0.0,
                            1.0,                      2.0,
                            3.0,               'Activity',
                   'Assessment',                   'Clip',
                         'Game',         'accuracy_group',
              'accuracy_group1',    'tendency_avg_scorer',
         'tendency_high_scorer',    'tendency_low_scorer',
       'tendency_random_scorer',          'assesments_CC',
               'assessments_MP',        'Assessments_TTC',
           'max_accuracy_group',  'median_accuracy_group',
           'low_accuracy_group',         'avg_no_actions',
                 'CRYSTALCAVES',              'MAGMAPEAK',
                         'NONE',            'TREETOPCITY',
                'activity_mins',        'assessment_mins',
                    'clip_mins',              'game_mins',
                     'bird_med',               'cart_med',
                    'cauld_med',              'chest_med',
                   'shroom_med',              'bird_mean',
                    'cart_mean',             'cauld_mean',
                   'chest_mean',            'shroom_mean',
                     'bird_min',               'cart_min',
                    'cauld_min',              'chest_min',
                   'shroom_min',               'bird_max',
                     'cart_max',              'cauld_max',
                    'chest_max',             'shroom_max'],
      dtype='object')

In [103]:
beta1.head()

,installation_id,0.0,1.0,2.0,3.0,Activity,Assessment,Clip,Game,accuracy_group,...,bird_min,cart_min,cauld_min,chest_min,shroom_min,bird_max,cart_max,cauld_max,chest_max,shroom_max
0,0006a69f,1.0,0.0,1.0,2.0,10.0,4.0,28.0,13.0,3.0,...,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,1.0
1,0006c192,1.0,0.0,0.0,1.0,8.0,2.0,30.0,6.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,00129856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,001d0ed0,1.0,0.0,1.0,2.0,1.0,4.0,19.0,3.0,0.0,...,0.0,1.0,0.0,0.0,0.5,0.0,1.0,0.0,0.0,1.0
4,00225f67,0.0,0.0,0.0,0.0,3.0,0.0,10.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [104]:
beta1.shape

(3523, 50)

In [105]:
beta1.accuracy_group.value_counts(normalize = True)

3.0    0.451320
0.0    0.283849
1.0    0.135964
2.0    0.128867
Name: accuracy_group, dtype: float64

In [106]:
beta1.accuracy_group1.value_counts(normalize = True,dropna = False)

4    0.54868
3    0.45132
Name: accuracy_group1, dtype: float64

In [107]:
# make a dataframe that has an equal sampling of each accuracy_group.
# be_0 = beta1[beta1.accuracy_group == 0].sample(n=339,random_state=123)
# be_1 = beta1[beta1.accuracy_group == 1].sample(n=339,random_state=123)
# be_2 = beta1[beta1.accuracy_group == 2].sample(n=339,random_state=123)
# be_3 = beta1[beta1.accuracy_group == 3].sample(n=339,random_state=123)

In [108]:
# beta2 = pd.concat([be_0,be_1,be_2,be_3])
# beta2.accuracy_group.value_counts()

In [109]:
# beta2.shape

In [110]:
# beta2.head()

# Scale features

In [111]:
# X_list = list(beta1.columns)
# X_list

In [112]:
# X_list.remove('accuracy_group')
# X_list.remove('installation_id')
# X_list.remove('accuracy_group1')
# X_list

In [113]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LassoCV

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import PolynomialFeatures
from sklearn.neighbors import KNeighborsClassifier

from sklearn.feature_selection import RFE

In [114]:
# scaler = StandardScaler()
# scaled_features = pd.DataFrame(scaler.fit_transform(beta1[X_list]),columns=X_list).set_index(beta1.installation_id)
# scaled_features

In [115]:
# y = beta1[['accuracy_group']]
# y.shape

In [116]:
# X_train, X_test, y_train, y_test = train_test_split(scaled_features,y, test_size=0.3, stratify=y["accuracy_group"],random_state=123)

In [117]:
# y_train.accuracy_group.value_counts(normalize = True)

# Feature Engineering

In [ ]:
#

In [ ]:
# print(f"Best alpha using built-in LassoCV: {lasso.alpha_}")
# print(f"Best score using built-in LassoCV: {lasso.score(X_train,y_train)}")

In [ ]:
# coef = pd.DataFrame(lasso.coef_, index = X_train.columns).rename(columns={0:"feature_weights"}).sort_values(by="feature_weights",ascending=False)

In [ ]:
# coef

In [ ]:
#import matplotlib as plt

In [ ]:
# coef.plot(kind="barh",figsize=(15,12))

In [ ]:
# weighted_coef = coef[coef.feature_weights != 0]
# weighted_coef.sort_values(by='feature_weights')

In [ ]:
# weighted_coef_list = list(weighted_coef.index)
# weighted_coef_list

In [ ]:
# X_train = X_train[weighted_coef_list]
# X_test = X_test[weighted_coef_list]

In [ ]:
# X_train.shape, X_test.shape

# Create the Model

In [118]:
X_list = list(beta1.columns)

In [119]:
X_list.remove('accuracy_group')
X_list.remove('accuracy_group1')
X_list.remove('installation_id')
# X_list.remove('median_accuracy_group')
# X_list.remove(2.0)
# X_list.remove('low_accuracy_group')

In [120]:
# X_list

In [121]:
X = beta1[X_list]
y = beta1[['accuracy_group']]

In [122]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

In [123]:
# y_test['accuracy_group'].value_counts()

# Recursive Feature Engineering

In [161]:
from sklearn.feature_selection import RFE

In [162]:
# model = rf
# model

In [163]:
z = len(X_train.columns)
z

47

In [164]:
# import numpy as np

In [165]:
import warnings
warnings.filterwarnings('ignore')

In [129]:
number_of_features_list=np.arange(1,48)
high_score=0

#Variable to store the optimum features
number_of_features=0           
score_list =[]

for n in range(len(number_of_features_list)):
    print(n)
    model = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=6, 
                            random_state=600)
    rfe = RFE(model,number_of_features_list[n])
    X_train_rfe = rfe.fit_transform(X_train,y_train)
    X_test_rfe = rfe.transform(X_test)
    model.fit(X_train_rfe,y_train)
    score = model.score(X_test_rfe,y_test)
    score_list.append(score)
    if(score>high_score):
        high_score = score
        number_of_features = number_of_features_list[n]

print("Optimum number of features: %d" %number_of_features)
print("Score with %d features: %f" % (number_of_features, high_score))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
Optimum number of features: 43
Score with 43 features: 0.510880

In [130]:
cols = list(X_train.columns)
model = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=6, 
                            random_state=600)

#Initializing RFE model
rfe = RFE(model, 43)

#Transforming data using RFE
X_rfe = rfe.fit_transform(X_train,y_train)  

#Fitting the data to model
model.fit(X_rfe,y_train)
temp = pd.Series(rfe.support_,index = cols)
selected_features_rfe = temp[temp==True].index

print(selected_features_rfe)

Index([                    0.0,                     1.0,
                           2.0,                     3.0,
                    'Activity',            'Assessment',
                        'Clip',                  'Game',
        'tendency_high_scorer',   'tendency_low_scorer',
               'assesments_CC',        'assessments_MP',
             'Assessments_TTC',    'max_accuracy_group',
       'median_accuracy_group',    'low_accuracy_group',
              'avg_no_actions',          'CRYSTALCAVES',
                   'MAGMAPEAK',                  'NONE',
                 'TREETOPCITY',         'activity_mins',
             'assessment_mins',             'game_mins',
                    'bird_med',              'cart_med',
                   'cauld_med',             'chest_med',
                  'shroom_med',             'bird_mean',
                   'cart_mean',            'cauld_mean',
                  'chest_mean',           'shroom_mean',
                    'bird_min',              'cart_min',
                   'cauld_min',             'chest_min',
                  'shroom_min',              'bird_max',
                    'cart_max',             'chest_max',
                  'shroom_max'],
      dtype='object')

# Create a Model with the Selected Features

In [131]:
X_list = list(selected_features_rfe)

In [132]:
X = beta1[X_list]
y = beta1[['accuracy_group']]

In [133]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

In [134]:
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=6, 
                            random_state=600)

In [135]:
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=6, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=600,
                       verbose=0, warm_start=False)

In [136]:
pd.DataFrame([rf.feature_importances_],columns = X_train.columns).T.rename(columns = {0: 'feature_importance'}).sort_values(by='feature_importance', ascending=False)

                       feature_importance
CRYSTALCAVES                     0.056928
Clip                             0.051537
avg_no_actions                   0.050319
game_mins                        0.046719
TREETOPCITY                      0.042275
chest_min                        0.039679
activity_mins                    0.039481
assessment_mins                  0.038113
MAGMAPEAK                        0.036051
Game                             0.032644
0.0                              0.030675
Activity                         0.028899
cart_mean                        0.026601
shroom_med                       0.026583
shroom_min                       0.025449
shroom_mean                      0.024714
3.0                              0.024628
chest_mean                       0.023629
NONE                             0.022333
cart_min                         0.020458
bird_mean                        0.019356
chest_max                        0.017086
Assessment                       0.017062
chest_med                        0.016967
bird_med                         0.016939
tendency_low_scorer              0.016509
assesments_CC                    0.016469
bird_max                         0.016394
bird_min                         0.016374
shroom_max                       0.016340
max_accuracy_group               0.014940
low_accuracy_group               0.013767
Assessments_TTC                  0.013143
1.0                              0.013108
median_accuracy_group            0.012882
cart_med                         0.012602
cauld_mean                       0.012334
cart_max                         0.011613
assessments_MP                   0.010758
cauld_min                        0.008747
cauld_med                        0.008482
2.0                              0.006313
tendency_high_scorer             0.004101

In [137]:
y_pred = rf.predict(X_train)
y_pred

array([0., 3., 3., ..., 3., 3., 3.])

In [138]:
y_pred_test1 = rf.predict(X_test)

In [139]:
y_pred_test1

array([0., 3., 3., ..., 3., 3., 3.])

In [140]:
y_pred_train1 = rf.predict(X_train)

In [141]:
pd.Series(y_pred_test1).value_counts(normalize=True)

3.0    0.823084
0.0    0.175024
1.0    0.001892
dtype: float64

In [142]:
rf.score(X_train, y_train)

0.5421735604217356

In [143]:
rf.score(X_test, y_test)

0.510879848628193

In [144]:
print(classification_report(y_test,y_pred_test1))

              precision    recall  f1-score   support

         0.0       0.55      0.35      0.43       291
         1.0       0.50      0.01      0.01       141
         2.0       0.00      0.00      0.00       144
         3.0       0.50      0.91      0.65       481

    accuracy                           0.51      1057
   macro avg       0.39      0.32      0.27      1057
weighted avg       0.45      0.51      0.41      1057

In [145]:
confusion_matrix(y_test,y_pred_test1)

array([[102,   1,   0, 188],
       [ 21,   1,   0, 119],
       [ 18,   0,   0, 126],
       [ 44,   0,   0, 437]])

In [146]:
confusion_matrix(y_train,y_pred_train1)

array([[ 267,    0,    0,  442],
       [  33,   25,    0,  280],
       [  28,    2,    3,  277],
       [  67,    0,    0, 1042]])

In [147]:
prediction0 = rf.predict(X)

In [148]:
len(prediction0)

3523

In [149]:
beta1['prediction0'] = prediction0

In [150]:
print(classification_report(beta1['accuracy_group'], beta1['prediction0']))

              precision    recall  f1-score   support

         0.0       0.64      0.37      0.47      1000
         1.0       0.90      0.05      0.10       479
         2.0       1.00      0.01      0.01       454
         3.0       0.51      0.93      0.66      1590

    accuracy                           0.53      3523
   macro avg       0.76      0.34      0.31      3523
weighted avg       0.66      0.53      0.44      3523

In [153]:
confusion_matrix(beta1['accuracy_group'], beta1['prediction0'])

array([[ 369,    1,    0,  630],
       [  54,   26,    0,  399],
       [  46,    2,    3,  403],
       [ 111,    0,    0, 1479]])

In [ ]:
314+480+621+1197

# Create a Layer Model, First using accuracy_group1 in the Random Forest.

Is the accuracy group going to be a three or not a three.

In [166]:
X_list = list(beta1.columns)

In [167]:
X_list.remove('accuracy_group')
X_list.remove('accuracy_group1')
X_list.remove('installation_id')
X_list.remove('prediction0')
# X_list.remove('median_accuracy_group')
# X_list.remove(2.0)
# X_list.remove('low_accuracy_group')

In [168]:
# X_list

In [169]:
X = beta1[X_list]
y = beta1[['accuracy_group1']]

In [170]:
len(X_list)

47

In [171]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

In [172]:
# y_test['accuracy_group'].value_counts()

# Recursive Feature Engineering ROUND 1 (LAYERING)

In [175]:
from sklearn.feature_selection import RFE

In [176]:
# model = rf
# model

In [177]:
z = len(X_train.columns)
z

47

In [178]:
# import numpy as np

In [179]:
import warnings
warnings.filterwarnings('ignore')

In [180]:
number_of_features_list=np.arange(1,48)
high_score=0

#Variable to store the optimum features
number_of_features=0           
score_list =[]

for n in range(len(number_of_features_list)):
    print(n)
    model = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=6, 
                            random_state=600)
    rfe = RFE(model,number_of_features_list[n])
    X_train_rfe = rfe.fit_transform(X_train,y_train)
    X_test_rfe = rfe.transform(X_test)
    model.fit(X_train_rfe,y_train)
    score = model.score(X_test_rfe,y_test)
    score_list.append(score)
    if(score>high_score):
        high_score = score
        number_of_features = number_of_features_list[n]

print("Optimum number of features: %d" %number_of_features)
print("Score with %d features: %f" % (number_of_features, high_score))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
Optimum number of features: 45
Score with 45 features: 0.618732

In [181]:
cols = list(X_train.columns)
model = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=6, 
                            random_state=600)

#Initializing RFE model
rfe = RFE(model, 45)

#Transforming data using RFE
X_rfe = rfe.fit_transform(X_train,y_train)  

#Fitting the data to model
model.fit(X_rfe,y_train)
temp = pd.Series(rfe.support_,index = cols)
selected_features_rfe = temp[temp==True].index

print(selected_features_rfe)

Index([                     0.0,                      1.0,
                            2.0,                      3.0,
                     'Activity',             'Assessment',
                         'Clip',                   'Game',
         'tendency_high_scorer',    'tendency_low_scorer',
       'tendency_random_scorer',          'assesments_CC',
               'assessments_MP',        'Assessments_TTC',
           'max_accuracy_group',  'median_accuracy_group',
           'low_accuracy_group',         'avg_no_actions',
                 'CRYSTALCAVES',              'MAGMAPEAK',
                         'NONE',            'TREETOPCITY',
                'activity_mins',        'assessment_mins',
                    'game_mins',               'bird_med',
                     'cart_med',              'cauld_med',
                    'chest_med',             'shroom_med',
                    'bird_mean',              'cart_mean',
                   'cauld_mean',             'chest_mean',
                  'shroom_mean',               'bird_min',
                     'cart_min',              'cauld_min',
                    'chest_min',             'shroom_min',
                     'bird_max',               'cart_max',
                    'cauld_max',              'chest_max',
                   'shroom_max'],
      dtype='object')

# Create a Model with the Selected Features

In [182]:
X_list = list(selected_features_rfe)

In [183]:
X = beta1[X_list]
y = beta1[['accuracy_group1']]

In [184]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

In [185]:
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=6, 
                            random_state=600)

In [186]:
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=6, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=600,
                       verbose=0, warm_start=False)

In [187]:
pd.DataFrame([rf.feature_importances_],columns = X_train.columns).T.rename(columns = {0: 'feature_importance'}).sort_values(by='feature_importance', ascending=False)

                        feature_importance
Clip                              0.058339
CRYSTALCAVES                      0.053810
activity_mins                     0.049757
TREETOPCITY                       0.048345
avg_no_actions                    0.047556
MAGMAPEAK                         0.046871
game_mins                         0.045873
assessment_mins                   0.043989
chest_min                         0.041098
chest_mean                        0.036508
Game                              0.034295
cart_mean                         0.030476
Activity                          0.029851
0.0                               0.028416
bird_mean                         0.024263
shroom_mean                       0.023339
cart_min                          0.023193
3.0                               0.022782
chest_med                         0.019955
bird_min                          0.019842
bird_med                          0.019520
chest_max                         0.018231
cauld_mean                        0.018036
Assessments_TTC                   0.017795
assesments_CC                     0.017222
NONE                              0.016681
bird_max                          0.015301
Assessment                        0.014919
cart_med                          0.014283
shroom_med                        0.013120
shroom_min                        0.012274
cauld_med                         0.010733
cart_max                          0.009644
tendency_low_scorer               0.009399
assessments_MP                    0.008862
shroom_max                        0.008804
cauld_min                         0.007546
median_accuracy_group             0.007545
2.0                               0.007299
1.0                               0.007216
tendency_random_scorer            0.003631
low_accuracy_group                0.003550
cauld_max                         0.003469
tendency_high_scorer              0.003417
max_accuracy_group                0.002942

In [188]:
y_pred = rf.predict(X_train)
y_pred

array([4, 4, 4, ..., 3, 4, 4])

In [189]:
y_pred_test1 = rf.predict(X_test)

In [190]:
y_pred_test1

array([4, 4, 3, ..., 4, 3, 3])

In [191]:
y_pred_train1 = rf.predict(X_train)

In [192]:
pd.Series(y_pred_test1).value_counts(normalize=True)

4    0.74456
3    0.25544
dtype: float64

In [193]:
rf.score(X_train, y_train)

0.6861313868613139

In [194]:
rf.score(X_test, y_test)

0.618732261116367

In [195]:
print(classification_report(y_test,y_pred_test1))

              precision    recall  f1-score   support

           3       0.64      0.36      0.46       481
           4       0.61      0.83      0.70       576

    accuracy                           0.62      1057
   macro avg       0.63      0.60      0.58      1057
weighted avg       0.63      0.62      0.59      1057

In [196]:
confusion_matrix(y_test,y_pred_test1)

array([[174, 307],
       [ 96, 480]])

In [197]:
confusion_matrix(y_train,y_pred_train1)

array([[ 483,  626],
       [ 148, 1209]])

In [200]:
# Add predictions to the beta1 df.
beta1['predictions1'] = rf.predict(X)

In [ ]:
# y_test['predicted1'] = y_pred_test1
# y_test

In [ ]:
# y_train['predicted1'] = y_pred_train1
# y_train.head()

In [ ]:
# predictions1 = pd.concat([y_train[['predicted1']],y_test[['predicted1']]])
# predictions1.head()

In [ ]:
# predictions1.shape

In [ ]:
# predictions1.predicted1.value_counts(normalize = True)

# Run Through RF again!

In [ ]:
# beta2 = pd.concat([beta1, predictions1], axis =1)
# beta2.head()

In [ ]:
# beta2.columns

In [ ]:
# beta2.predicted1.value_counts()

In [ ]:
# beta3 = beta2[beta2.predicted1 == 4]
# beta3.shape

In [ ]:
# beta3.accuracy_group.value_counts(normalize = True)

In [ ]:
# beta3.columns

In [201]:
beta2 = beta1[beta1.predictions1 == 4]

In [237]:
beta2.shape

(2622, 52)

In [202]:
X_list = list(beta2.columns)

In [203]:
X_list.remove('accuracy_group')
X_list.remove('accuracy_group1')
# X_list.remove('accuracy_group1')
X_list.remove('installation_id')
X_list.remove('prediction0')
X_list.remove('predictions1')
# X_list.remove('median_accuracy_group')
# X_list.remove(2.0)
# X_list.remove('low_accuracy_group')

In [204]:
X_list

[0.0,
 1.0,
 2.0,
 3.0,
 'Activity',
 'Assessment',
 'Clip',
 'Game',
 'tendency_avg_scorer',
 'tendency_high_scorer',
 'tendency_low_scorer',
 'tendency_random_scorer',
 'assesments_CC',
 'assessments_MP',
 'Assessments_TTC',
 'max_accuracy_group',
 'median_accuracy_group',
 'low_accuracy_group',
 'avg_no_actions',
 'CRYSTALCAVES',
 'MAGMAPEAK',
 'NONE',
 'TREETOPCITY',
 'activity_mins',
 'assessment_mins',
 'clip_mins',
 'game_mins',
 'bird_med',
 'cart_med',
 'cauld_med',
 'chest_med',
 'shroom_med',
 'bird_mean',
 'cart_mean',
 'cauld_mean',
 'chest_mean',
 'shroom_mean',
 'bird_min',
 'cart_min',
 'cauld_min',
 'chest_min',
 'shroom_min',
 'bird_max',
 'cart_max',
 'cauld_max',
 'chest_max',
 'shroom_max']

In [205]:
X = beta2[X_list]
y = beta2[['accuracy_group']]

In [206]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

# Recursive Feature Engineering ROUND 2!

In [207]:
from sklearn.feature_selection import RFE

In [208]:
# model = rf
# model

In [209]:
z = len(X_train.columns)
z

47

In [210]:
# import numpy as np

In [211]:
import warnings
warnings.filterwarnings('ignore')

In [212]:
number_of_features_list=np.arange(1,48)
high_score=0

#Variable to store the optimum features
number_of_features=0           
score_list =[]

for n in range(len(number_of_features_list)):
    print(n)
    model = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=6, 
                            random_state=600)
    rfe = RFE(model,number_of_features_list[n])
    X_train_rfe = rfe.fit_transform(X_train,y_train)
    X_test_rfe = rfe.transform(X_test)
    model.fit(X_train_rfe,y_train)
    score = model.score(X_test_rfe,y_test)
    score_list.append(score)
    if(score>high_score):
        high_score = score
        number_of_features = number_of_features_list[n]

print("Optimum number of features: %d" %number_of_features)
print("Score with %d features: %f" % (number_of_features, high_score))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
Optimum number of features: 43
Score with 43 features: 0.429479

In [213]:
cols = list(X_train.columns)
model = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=6, 
                            random_state=600)

#Initializing RFE model
rfe = RFE(model, 43)

#Transforming data using RFE
X_rfe = rfe.fit_transform(X_train,y_train)  

#Fitting the data to model
model.fit(X_rfe,y_train)
temp = pd.Series(rfe.support_,index = cols)
selected_features_rfe = temp[temp==True].index

print(selected_features_rfe)

Index([                    0.0,                     1.0,
                           2.0,                     3.0,
                    'Activity',            'Assessment',
                        'Clip',                  'Game',
         'tendency_low_scorer',         'assesments_CC',
              'assessments_MP',       'Assessments_TTC',
          'max_accuracy_group', 'median_accuracy_group',
          'low_accuracy_group',        'avg_no_actions',
                'CRYSTALCAVES',             'MAGMAPEAK',
                        'NONE',           'TREETOPCITY',
               'activity_mins',       'assessment_mins',
                   'game_mins',              'bird_med',
                    'cart_med',             'cauld_med',
                   'chest_med',            'shroom_med',
                   'bird_mean',             'cart_mean',
                  'cauld_mean',            'chest_mean',
                 'shroom_mean',              'bird_min',
                    'cart_min',             'cauld_min',
                   'chest_min',            'shroom_min',
                    'bird_max',              'cart_max',
                   'cauld_max',             'chest_max',
                  'shroom_max'],
      dtype='object')

# Create a Model with the Selected Features

In [214]:
X_list = list(selected_features_rfe)

In [215]:
len(X_list)

43

In [219]:
X = beta2[X_list]
y = beta2[['accuracy_group']]

In [220]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

In [221]:
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=6, 
                            random_state=600)

In [222]:
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=6, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=600,
                       verbose=0, warm_start=False)

In [223]:
pd.DataFrame([rf.feature_importances_],columns = X_train.columns).T.rename(columns = {0: 'feature_importance'}).sort_values(by='feature_importance', ascending=False)

                       feature_importance
Clip                             0.063001
CRYSTALCAVES                     0.061614
game_mins                        0.060091
activity_mins                    0.054441
assessment_mins                  0.053945
avg_no_actions                   0.050383
TREETOPCITY                      0.046066
MAGMAPEAK                        0.036442
Game                             0.030237
Activity                         0.028113
0.0                              0.027885
shroom_mean                      0.026718
shroom_min                       0.026571
shroom_med                       0.024198
Assessment                       0.023150
max_accuracy_group               0.021695
Assessments_TTC                  0.020881
low_accuracy_group               0.020433
bird_mean                        0.019219
cauld_mean                       0.019013
NONE                             0.018969
assesments_CC                    0.018724
tendency_low_scorer              0.017987
1.0                              0.017270
median_accuracy_group            0.017137
shroom_max                       0.016639
chest_mean                       0.016331
cart_mean                        0.015419
chest_max                        0.014546
3.0                              0.013345
cauld_med                        0.011735
bird_max                         0.010605
bird_min                         0.010426
chest_min                        0.010141
cauld_max                        0.010126
cauld_min                        0.009974
assessments_MP                   0.009935
cart_min                         0.009449
chest_med                        0.008711
cart_max                         0.007530
2.0                              0.007503
bird_med                         0.006791
cart_med                         0.006609

In [224]:
y_pred_test1 = rf.predict(X_test)

In [225]:
y_pred_test1

array([3., 3., 0., 0., 0., 0., 3., 3., 3., 3., 3., 0., 3., 0., 3., 3., 3.,
       3., 3., 0., 3., 0., 3., 0., 3., 3., 3., 0., 3., 3., 3., 0., 3., 3.,
       3., 3., 0., 3., 3., 3., 0., 3., 0., 0., 0., 3., 3., 3., 3., 3., 3.,
       0., 3., 3., 0., 3., 0., 3., 3., 3., 0., 0., 0., 3., 3., 3., 3., 3.,
       3., 0., 0., 3., 3., 3., 3., 3., 3., 3., 3., 3., 0., 3., 3., 0., 3.,
       0., 0., 3., 3., 0., 3., 0., 2., 3., 0., 3., 3., 0., 3., 3., 3., 3.,
       3., 0., 0., 3., 0., 3., 3., 3., 3., 0., 3., 3., 3., 3., 3., 0., 3.,
       3., 0., 3., 3., 0., 3., 3., 0., 3., 3., 3., 3., 3., 3., 0., 3., 3.,
       0., 3., 0., 3., 0., 3., 0., 0., 3., 3., 0., 3., 3., 0., 3., 3., 0.,
       3., 3., 0., 3., 3., 3., 3., 0., 3., 3., 0., 3., 3., 3., 3., 3., 1.,
       0., 3., 3., 3., 0., 3., 3., 3., 0., 3., 3., 0., 3., 3., 3., 0., 3.,
       0., 3., 3., 3., 3., 3., 0., 3., 3., 3., 3., 3., 3., 3., 3., 0., 0.,
       0., 3., 3., 3., 3., 3., 1., 0., 3., 0., 3., 0., 3., 3., 3., 0., 3.,
       0., 0., 3., 3., 0., 3., 3., 0., 3., 0., 3., 0., 0., 3., 3., 0., 3.,
       3., 3., 0., 3., 0., 3., 3., 0., 3., 0., 0., 3., 0., 0., 3., 0., 0.,
       3., 0., 0., 0., 3., 0., 0., 3., 3., 0., 3., 3., 0., 3., 3., 0., 3.,
       3., 3., 3., 0., 3., 3., 3., 0., 2., 3., 3., 0., 3., 3., 0., 0., 0.,
       3., 0., 3., 0., 3., 0., 3., 3., 3., 3., 3., 3., 0., 0., 0., 3., 3.,
       3., 0., 0., 3., 3., 0., 0., 0., 3., 0., 0., 0., 3., 0., 0., 0., 1.,
       3., 3., 3., 0., 0., 0., 0., 2., 3., 3., 3., 0., 0., 3., 0., 0., 3.,
       3., 0., 0., 3., 0., 3., 0., 3., 3., 3., 3., 3., 3., 3., 3., 3., 0.,
       3., 0., 0., 3., 3., 3., 0., 0., 0., 3., 0., 0., 3., 3., 3., 0., 3.,
       0., 0., 3., 0., 1., 3., 0., 3., 0., 0., 0., 0., 3., 3., 3., 3., 3.,
       0., 3., 3., 3., 3., 3., 3., 0., 0., 3., 3., 0., 3., 3., 0., 0., 3.,
       0., 0., 0., 0., 3., 0., 3., 3., 3., 0., 0., 3., 0., 3., 0., 3., 2.,
       3., 0., 0., 0., 0., 3., 3., 0., 3., 3., 0., 0., 0., 3., 3., 0., 3.,
       3., 3., 0., 0., 3., 3., 0., 3., 0., 0., 3., 2., 0., 0., 3., 3., 3.,
       0., 3., 0., 3., 3., 2., 0., 3., 3., 0., 0., 3., 0., 0., 3., 3., 3.,
       3., 3., 3., 3., 3., 0., 0., 0., 3., 0., 3., 1., 3., 0., 0., 3., 3.,
       3., 3., 0., 0., 3., 1., 0., 0., 3., 2., 0., 3., 0., 3., 3., 3., 3.,
       0., 0., 3., 0., 0., 0., 3., 0., 0., 3., 3., 0., 3., 0., 3., 3., 3.,
       0., 3., 3., 3., 3., 0., 3., 3., 0., 3., 3., 0., 3., 0., 0., 3., 2.,
       0., 0., 0., 0., 0., 3., 3., 0., 3., 1., 3., 0., 3., 0., 3., 3., 3.,
       0., 3., 3., 0., 3., 3., 3., 3., 0., 3., 3., 3., 0., 0., 3., 3., 0.,
       0., 3., 0., 0., 0., 3., 3., 0., 3., 3., 0., 3., 3., 3., 3., 0., 3.,
       3., 3., 3., 0., 3., 3., 0., 0., 3., 2., 0., 3., 3., 0., 3., 3., 0.,
       3., 3., 0., 3., 3., 0., 0., 0., 3., 0., 3., 0., 0., 3., 0., 3., 0.,
       3., 3., 3., 0., 3., 0., 3., 3., 3., 3., 3., 3., 2., 3., 3., 3., 3.,
       0., 3., 1., 3., 2., 3., 3., 0., 3., 3., 0., 0., 0., 3., 3., 3., 3.,
       3., 3., 3., 0., 3., 3., 3., 3., 0., 3., 3., 3., 3., 3., 0., 3., 3.,
       3., 3., 0., 3., 0., 3., 0., 0., 3., 3., 0., 0., 0., 3., 3., 3., 3.,
       3., 3., 3., 3., 3., 3., 3., 3., 0., 3., 0., 3., 0., 3., 0., 3., 0.,
       3., 0., 3., 0., 3., 0., 0., 3., 3., 3., 3., 3., 3., 3., 0., 3., 0.,
       3., 2., 0., 0., 0., 3., 0., 3., 3., 3., 3., 3., 0., 3., 3., 3., 3.,
       3., 3., 0., 3., 3., 3., 3., 3., 0., 3., 3., 3., 3., 0., 3., 0., 3.,
       0., 3., 3., 3., 3., 3., 3., 3., 3., 0., 3., 3., 3., 3., 3., 0., 3.,
       3., 3., 0., 3., 3.])

In [226]:
y_pred_train1 = rf.predict(X_train)

In [227]:
pd.Series(y_pred_test1).value_counts(normalize=True)

3.0    0.612452
0.0    0.362135
2.0    0.015248
1.0    0.010165
dtype: float64

In [228]:
rf.score(X_train, y_train)

0.5596730245231608

In [229]:
rf.score(X_test, y_test)

0.42947903430749684

In [230]:
print(classification_report(y_test,y_pred_test1))

              precision    recall  f1-score   support

         0.0       0.49      0.48      0.49       293
         1.0       1.00      0.07      0.12       121
         2.0       0.25      0.03      0.05        98
         3.0       0.39      0.68      0.49       275

    accuracy                           0.43       787
   macro avg       0.53      0.31      0.29       787
weighted avg       0.50      0.43      0.38       787

In [231]:
confusion_matrix(y_test,y_pred_test1)

array([[141,   0,   5, 147],
       [ 32,   8,   3,  78],
       [ 24,   0,   3,  71],
       [ 88,   0,   1, 186]])

In [232]:
confusion_matrix(y_train,y_pred_train1)

array([[390,   1,   0, 242],
       [ 66,  47,   1, 168],
       [ 68,   1,  32, 161],
       [ 99,   1,   0, 558]])

In [253]:
X.shape

(2622, 43)

In [248]:
predictions_2 = pd.DataFrame({'installation_id': beta2.installation_id, 'predictions2':rf.predict(X)}).set_index(beta2.index)

In [257]:
prediction_df = pd.merge(beta1, predictions_2, on = 'installation_id', how = 'left')

In [258]:
prediction_df.shape

(3523, 53)

In [260]:
prediction_df.fillna(3, inplace = True )

In [264]:
prediction_df.columns

Index([       'installation_id',                      0.0,
                            1.0,                      2.0,
                            3.0,               'Activity',
                   'Assessment',                   'Clip',
                         'Game',         'accuracy_group',
              'accuracy_group1',    'tendency_avg_scorer',
         'tendency_high_scorer',    'tendency_low_scorer',
       'tendency_random_scorer',          'assesments_CC',
               'assessments_MP',        'Assessments_TTC',
           'max_accuracy_group',  'median_accuracy_group',
           'low_accuracy_group',         'avg_no_actions',
                 'CRYSTALCAVES',              'MAGMAPEAK',
                         'NONE',            'TREETOPCITY',
                'activity_mins',        'assessment_mins',
                    'clip_mins',              'game_mins',
                     'bird_med',               'cart_med',
                    'cauld_med',              'chest_med',
                   'shroom_med',              'bird_mean',
                    'cart_mean',             'cauld_mean',
                   'chest_mean',            'shroom_mean',
                     'bird_min',               'cart_min',
                    'cauld_min',              'chest_min',
                   'shroom_min',               'bird_max',
                     'cart_max',              'cauld_max',
                    'chest_max',             'shroom_max',
                  'prediction0',           'predictions1',
                 'predictions2'],
      dtype='object')

In [261]:
confusion_matrix(prediction_df[['accuracy_group']],prediction_df[['predictions2']])

array([[ 531,    1,    5,  463],
       [  98,   55,    4,  322],
       [  92,    1,   35,  326],
       [ 187,    1,    1, 1401]])

In [265]:
confusion_matrix(prediction_df[['accuracy_group']],prediction_df[['prediction0']])

array([[ 369,    1,    0,  630],
       [  54,   26,    0,  399],
       [  46,    2,    3,  403],
       [ 111,    0,    0, 1479]])

In [266]:
print(classification_report(prediction_df[['accuracy_group']],prediction_df[['predictions2']]))

              precision    recall  f1-score   support

         0.0       0.58      0.53      0.56      1000
         1.0       0.95      0.11      0.20       479
         2.0       0.78      0.08      0.14       454
         3.0       0.56      0.88      0.68      1590

    accuracy                           0.57      3523
   macro avg       0.72      0.40      0.40      3523
weighted avg       0.65      0.57      0.51      3523

In [267]:
print(classification_report(prediction_df[['accuracy_group']], prediction_df[['prediction0']]))

              precision    recall  f1-score   support

         0.0       0.64      0.37      0.47      1000
         1.0       0.90      0.05      0.10       479
         2.0       1.00      0.01      0.01       454
         3.0       0.51      0.93      0.66      1590

    accuracy                           0.53      3523
   macro avg       0.76      0.34      0.31      3523
weighted avg       0.66      0.53      0.44      3523

# Logistic Regression Model

In [ ]:
lm = LogisticRegression().fit(X_train, y_train)

In [ ]:
train = pd.DataFrame({'acutal': y_train.accuracy_group1})
test = pd.DataFrame({'actual': y_test.accuracy_group1})

In [ ]:
train['predicted'] = lm.predict(X_train)
test['predicted'] = lm.predict(X_test)

In [ ]:
accuracy_score(train.acutal, train.predicted)

In [ ]:
accuracy_score(test.actual, test.predicted)

# Decision Tree

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, test_size = .30, random_state = 123)

In [ ]:
clf = DecisionTreeClassifier(criterion='entropy', max_depth=2, random_state=123)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
clf.score(X_train, y_train)

In [ ]:
clf.score(X_test, y_test)

# Explore 1 and 2 accuracy_groups

In [ ]:
# df_1_2 = df[df.accuracy_group.isin([1,2])]

In [ ]:
# df_1_2.installation_id.nunique()

In [ ]:
# df_1_2.installation_id.nunique()/df.installation_id.nunique()

In [ ]:
# df_1_2.groupby(['installation_id', 'game_session','accuracy_group']).count()[['event_id']].reset_index().accuracy_group.value_counts(normalize = True)

In [ ]:
# Compare all accurracy_value counts.
# df.groupby(['installation_id', 'game_session', 'accuracy_group']).count()[['event_id']].reset_index().accuracy_group.value_counts(normalize = True)

In [ ]:
# df_1_2.groupby(['installation_id','game_session','type']).count()[['event_id']].reset_index().installation_id.nunique()

In [ ]:
# train = pd.read_csv('train.csv')

In [ ]:
# train_labels = pd.read_csv('train_labels.csv')

In [ ]:
# df = train[train.installation_id.isin(train_labels.installation_id)]

In [ ]:
# df = pd.merge(df, train_labels, on = 'installation_id', how = 'left')

In [ ]:
# df[df.accuracy_group]