In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train_maybe_final.csv')

In [3]:
last_assessments = pd.read_csv('last_assessments.csv')

In [5]:
df.shape

(5310606, 19)

In [4]:
df.installation_id.nunique()

3485

In [6]:
#create columns game_mins convert game_time to minutes.
df['game_mins'] = df.game_time/60_000

In [7]:
types = df.groupby(['installation_id', 'game_session', 'type']).count().reset_index()[['installation_id', 'game_session', 'type']]

In [8]:
accuracy_groups = df[df.type =='Assessment'].groupby(['installation_id','game_session','type','accuracy_group']).count().reset_index()

In [9]:
installation_accuracy = pd.crosstab(accuracy_groups.installation_id, accuracy_groups.accuracy_group)

In [10]:
installation_accuracy

accuracy_group   0.0  1.0  2.0  3.0
installation_id
0006a69f           1    0    1    2
0006c192           1    0    0    1
001d0ed0           1    0    1    2
002db7e3           2    1    2    3
003372b0           1    0    1    3
004c2091           1    0    0    2
00634433           0    0    0    2
00667b88           0    0    0    1
00691033           5    2    0    1
00a0dbeb           3    0    0    0
00e17272           0    0    2    5
00e536bf           1    1    1    4
00fa8681           1    0    0    1
00fc65b6           0    2    1    5
010bc1d5           0    0    0    1
0155dd86           2    0    0    2
015776b4           2    0    0    2
01582211           2    0    1    1
01825124           0    1    0    1
01bdd720           1    0    0    3
01cc53f3           0    0    0    3
01f71702           1    0    1    3
01faa4bf           0    0    1    2
022183ab           7    2    0    4
0235fe9a           2    0    1    1
023c4bcb           0    0    0    1
026035e9           0    0    0    2
027b3c4c           0    0    0    2
0281f6bf           2    0    1    2
02875dc2           0    0    0    1
...              ...  ...  ...  ...
fc30ec02           7    0    0    8
fc3a02a4           0    2    1    2
fc3eae77           2    1    0    0
fc48b6a0           1    0    0    1
fc4ad96c           2    1    0    4
fc70e779           5    0    1    3
fc771ea3           0    1    0    0
fcb0a469           0    2    0    0
fcd3ed61           0    1    0    0
fce2b016           0    0    0    1
fcecab06           3    0    1    2
fd02a7e0           0    0    0    5
fd1c8d0b           0    0    0    1
fd5385c7           5    0    1    0
fd6e3ad6           1    2    0    1
fd997268           0    0    0    1
fddf4b1e           0    0    0    1
fdf4eb95           1    0    1    0
fe191c4a           0    0    1    0
fe488283           0    1    0    0
fe4d880a           1    0    0    1
fe5f0699           0    0    0    2
fe73bf4b           0    1    0    1
ff3e1e35           2    3    0    7
ff882868           0    1    0    0
ff90db99           0    1    0    5
ff9305d7           2    1    0    0
ff9715db           1    1    1    5
ffc90c32           0    1    0    4
ffeb0b1b           1    1    0    0

[2496 rows x 4 columns]

In [11]:
installation_type = pd.crosstab(types.installation_id, types.type)

In [12]:
installation_type

type             Activity  Assessment  Clip  Game
installation_id
0006a69f               10           4    28    13
0006c192                8           2    30     6
001d0ed0                1           4    19     3
00225f67                3           0    10     3
00279ac5               10           0    21    11
002db7e3               15           8    39    11
003372b0                8           5    27    11
004c2091                7           3    21     1
00634433                0           2     7     1
00667b88                4           1    37     2
00691033               15           8    30    15
00a0dbeb                1           3    20     1
00a53963                0           0     1     0
00ad158e                6           0    19     2
00b9d8e6                1           0     7     2
00cef781                0           0     8     1
00e17272                2           7    16    11
00e536bf                6           7    19     8
00fa8681               21           2    80    10
00fc65b6               15           8    34    26
010bc1d5                4           1     5     1
01120f12                3           0     1     1
0153c957                6           0    14     5
0155dd86                5           4    17    10
015776b4               10           4    28    17
01582211                7           4    30    15
0160e7c5                0           0     2     2
01825124                5           2    11     4
01bdd720                8           4    30    12
01cc53f3                4           3     9     8
...                   ...         ...   ...   ...
fd5385c7               15           6    34    18
fd6e3ad6                9           4    26     7
fd8ee8db                4           0     2     2
fd97b5b2                0           0     7     2
fd997268                1           1     6     2
fd99b7b3                0           0     3     2
fdd082f9                2           0     8     2
fddf4b1e               11           1    20    22
fdf4eb95                0           2     6     3
fe191c4a                3           1    12     3
fe1a1d3f                1           0     0     1
fe488283                3           1     4     1
fe4a63a7                1           0     2     0
fe4d880a                6           2     9     3
fe5f0699                4           2    19     5
fe73bf4b                6           2     8     4
fe769df4                7           0    11     7
fe9f9b60                0           0     8     4
fed331e8                2           0     8     2
ff00d909                2           0    11     2
ff107709                0           0     4     0
ff24ea49                1           0     2     0
ff3e1e35               20          12    42    23
ff882868                3           1     4     0
ff90db99               13           6    48    25
ff9305d7                7           3    11     5
ff9715db               11           8    16     6
ffc90c32                7           5    26    11
ffd2871d                2           0     3     3
ffeb0b1b                4           2    24     6

[3485 rows x 4 columns]

In [13]:
history = pd.concat([installation_accuracy, installation_type], axis=1)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [14]:
labels = last_assessments.set_index('installation_id')[['accuracy_group']]

In [15]:
beta = pd.concat([history, labels], axis = 1)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [16]:
beta.reset_index(inplace = True)

In [17]:
beta.rename(columns = {'index': 'installation_id'}, inplace = True)

In [18]:
beta.head()

,installation_id,0.0,1.0,2.0,3.0,Activity,Assessment,Clip,Game,accuracy_group
0,0006a69f,1.0,0.0,1.0,2.0,10.0,4.0,28.0,13.0,3.0
1,0006c192,1.0,0.0,0.0,1.0,8.0,2.0,30.0,6.0,2.0
2,00129856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
3,001d0ed0,1.0,0.0,1.0,2.0,1.0,4.0,19.0,3.0,0.0
4,00225f67,NaN,NaN,NaN,NaN,3.0,0.0,10.0,3.0,0.0

# max_ceiling

In [19]:
max_ceiling = df[df.type == "Assessment"].groupby(["installation_id","game_session"])[['accuracy_group']].max().reset_index().sort_values(by=["installation_id","accuracy_group"],ascending=False)

In [20]:
max_ceiling = max_ceiling.drop_duplicates(subset="installation_id",keep="first").drop(columns=['game_session']).rename(columns = {'accuracy_group': 'max_accuracy_group'}).reset_index().drop(columns = ['index'])

In [21]:
max_ceiling

     installation_id  max_accuracy_group
0           ffeb0b1b                 1.0
1           ffc90c32                 3.0
2           ff9715db                 3.0
3           ff9305d7                 1.0
4           ff90db99                 3.0
5           ff882868                 1.0
6           ff3e1e35                 3.0
7           fe73bf4b                 3.0
8           fe5f0699                 3.0
9           fe4d880a                 3.0
10          fe488283                 1.0
11          fe191c4a                 2.0
12          fdf4eb95                 2.0
13          fddf4b1e                 3.0
14          fd997268                 3.0
15          fd6e3ad6                 3.0
16          fd5385c7                 2.0
17          fd1c8d0b                 3.0
18          fd02a7e0                 3.0
19          fcecab06                 3.0
20          fce2b016                 3.0
21          fcd3ed61                 1.0
22          fcb0a469                 1.0
23          fc771ea3                 1.0
24          fc70e779                 3.0
25          fc4ad96c                 3.0
26          fc48b6a0                 3.0
27          fc3eae77                 1.0
28          fc3a02a4                 3.0
29          fc30ec02                 3.0
...              ...                 ...
2466        02875dc2                 3.0
2467        0281f6bf                 3.0
2468        027b3c4c                 3.0
2469        026035e9                 3.0
2470        023c4bcb                 3.0
2471        0235fe9a                 3.0
2472        022183ab                 3.0
2473        01faa4bf                 3.0
2474        01f71702                 3.0
2475        01cc53f3                 3.0
2476        01bdd720                 3.0
2477        01825124                 3.0
2478        01582211                 3.0
2479        015776b4                 3.0
2480        0155dd86                 3.0
2481        010bc1d5                 3.0
2482        00fc65b6                 3.0
2483        00fa8681                 3.0
2484        00e536bf                 3.0
2485        00e17272                 3.0
2486        00a0dbeb                 0.0
2487        00691033                 3.0
2488        00667b88                 3.0
2489        00634433                 3.0
2490        004c2091                 3.0
2491        003372b0                 3.0
2492        002db7e3                 3.0
2493        001d0ed0                 3.0
2494        0006c192                 3.0
2495        0006a69f                 3.0

[2496 rows x 2 columns]

# Median accuracy

In [22]:
median_accuracy_group = df[df.type == "Assessment"].groupby(["installation_id","game_session"])[['accuracy_group']].median().reset_index().sort_values(by=["installation_id","accuracy_group"],ascending=False)

In [23]:
median_accuracy_group = median_accuracy_group.drop_duplicates(subset="installation_id",keep="first").drop(columns=['game_session']).rename(columns = {'accuracy_group': 'median_accuracy_group'}).reset_index().drop(columns = ['index'])

In [24]:
median_accuracy_group

     installation_id  median_accuracy_group
0           ffeb0b1b                    1.0
1           ffc90c32                    3.0
2           ff9715db                    3.0
3           ff9305d7                    1.0
4           ff90db99                    3.0
5           ff882868                    1.0
6           ff3e1e35                    3.0
7           fe73bf4b                    3.0
8           fe5f0699                    3.0
9           fe4d880a                    3.0
10          fe488283                    1.0
11          fe191c4a                    2.0
12          fdf4eb95                    2.0
13          fddf4b1e                    3.0
14          fd997268                    3.0
15          fd6e3ad6                    3.0
16          fd5385c7                    2.0
17          fd1c8d0b                    3.0
18          fd02a7e0                    3.0
19          fcecab06                    3.0
20          fce2b016                    3.0
21          fcd3ed61                    1.0
22          fcb0a469                    1.0
23          fc771ea3                    1.0
24          fc70e779                    3.0
25          fc4ad96c                    3.0
26          fc48b6a0                    3.0
27          fc3eae77                    1.0
28          fc3a02a4                    3.0
29          fc30ec02                    3.0
...              ...                    ...
2466        02875dc2                    3.0
2467        0281f6bf                    3.0
2468        027b3c4c                    3.0
2469        026035e9                    3.0
2470        023c4bcb                    3.0
2471        0235fe9a                    3.0
2472        022183ab                    3.0
2473        01faa4bf                    3.0
2474        01f71702                    3.0
2475        01cc53f3                    3.0
2476        01bdd720                    3.0
2477        01825124                    3.0
2478        01582211                    3.0
2479        015776b4                    3.0
2480        0155dd86                    3.0
2481        010bc1d5                    3.0
2482        00fc65b6                    3.0
2483        00fa8681                    3.0
2484        00e536bf                    3.0
2485        00e17272                    3.0
2486        00a0dbeb                    0.0
2487        00691033                    3.0
2488        00667b88                    3.0
2489        00634433                    3.0
2490        004c2091                    3.0
2491        003372b0                    3.0
2492        002db7e3                    3.0
2493        001d0ed0                    3.0
2494        0006c192                    3.0
2495        0006a69f                    3.0

[2496 rows x 2 columns]

# Low accuracy_group

In [25]:
low_accuracy_group = df[df.type == "Assessment"].groupby(["installation_id","game_session"])[['accuracy_group']].min().reset_index().sort_values(by=["installation_id","accuracy_group"],ascending=False)

In [26]:
low_accuracy_group = low_accuracy_group.drop_duplicates(subset="installation_id",keep="first").drop(columns=['game_session']).rename(columns = {'accuracy_group': 'low_accuracy_group'}).reset_index().drop(columns = ['index'])
low_accuracy_group

     installation_id  low_accuracy_group
0           ffeb0b1b                 1.0
1           ffc90c32                 3.0
2           ff9715db                 3.0
3           ff9305d7                 1.0
4           ff90db99                 3.0
5           ff882868                 1.0
6           ff3e1e35                 3.0
7           fe73bf4b                 3.0
8           fe5f0699                 3.0
9           fe4d880a                 3.0
10          fe488283                 1.0
11          fe191c4a                 2.0
12          fdf4eb95                 2.0
13          fddf4b1e                 3.0
14          fd997268                 3.0
15          fd6e3ad6                 3.0
16          fd5385c7                 2.0
17          fd1c8d0b                 3.0
18          fd02a7e0                 3.0
19          fcecab06                 3.0
20          fce2b016                 3.0
21          fcd3ed61                 1.0
22          fcb0a469                 1.0
23          fc771ea3                 1.0
24          fc70e779                 3.0
25          fc4ad96c                 3.0
26          fc48b6a0                 3.0
27          fc3eae77                 1.0
28          fc3a02a4                 3.0
29          fc30ec02                 3.0
...              ...                 ...
2466        02875dc2                 3.0
2467        0281f6bf                 3.0
2468        027b3c4c                 3.0
2469        026035e9                 3.0
2470        023c4bcb                 3.0
2471        0235fe9a                 3.0
2472        022183ab                 3.0
2473        01faa4bf                 3.0
2474        01f71702                 3.0
2475        01cc53f3                 3.0
2476        01bdd720                 3.0
2477        01825124                 3.0
2478        01582211                 3.0
2479        015776b4                 3.0
2480        0155dd86                 3.0
2481        010bc1d5                 3.0
2482        00fc65b6                 3.0
2483        00fa8681                 3.0
2484        00e536bf                 3.0
2485        00e17272                 3.0
2486        00a0dbeb                 0.0
2487        00691033                 3.0
2488        00667b88                 3.0
2489        00634433                 3.0
2490        004c2091                 3.0
2491        003372b0                 3.0
2492        002db7e3                 3.0
2493        001d0ed0                 3.0
2494        0006c192                 3.0
2495        0006a69f                 3.0

[2496 rows x 2 columns]

# Average Number of Actions

In [27]:
average_no_actions = df.groupby(['installation_id','game_session'])[['event_id']].count().reset_index().groupby(['installation_id'])[['event_id']].mean().rename(columns = {'event_id': 'avg_no_actions'}).reset_index()

In [28]:
average_no_actions = average_no_actions.sort_values(by=['installation_id'], ascending=False)
average_no_actions

     installation_id  avg_no_actions
3484        ffeb0b1b       42.555556
3483        ffd2871d      111.000000
3482        ffc90c32       40.061224
3481        ff9715db       46.512195
3480        ff9305d7       73.884615
3479        ff90db99       44.586957
3478        ff882868       51.500000
3477        ff3e1e35       41.979381
3476        ff24ea49       11.666667
3475        ff107709        1.000000
3474        ff00d909       19.400000
3473        fed331e8       38.500000
3472        fe9f9b60       61.000000
3471        fe769df4       77.680000
3470        fe73bf4b       59.600000
3469        fe5f0699       33.233333
3468        fe4d880a       57.600000
3467        fe4a63a7       29.333333
3466        fe488283       73.111111
3465        fe1a1d3f       51.500000
3464        fe191c4a       25.315789
3463        fdf4eb95       36.545455
3462        fddf4b1e       63.222222
3461        fdd082f9       52.916667
3460        fd99b7b3       30.400000
3459        fd997268       35.500000
3458        fd97b5b2       29.333333
3457        fd8ee8db       81.375000
3456        fd6e3ad6       33.739130
3455        fd5385c7       26.671233
...              ...             ...
29          01cc53f3       40.458333
28          01bdd720       59.148148
27          01825124       51.363636
26          0160e7c5       75.000000
25          01582211       38.910714
24          015776b4       59.644068
23          0155dd86       56.305556
22          0153c957       58.640000
21          01120f12       98.600000
20          010bc1d5       45.818182
19          00fc65b6       79.421687
18          00fa8681       33.132743
17          00e536bf       39.800000
16          00e17272       36.750000
15          00cef781       17.888889
14          00b9d8e6        6.300000
13          00ad158e       31.592593
12          00a53963        1.000000
11          00a0dbeb       14.360000
10          00691033       30.470588
9           00667b88        9.818182
8           00634433       19.600000
7           004c2091        7.812500
6           003372b0       34.235294
5           002db7e3       46.287671
4           00279ac5       59.523810
3           00225f67       36.000000
2           001d0ed0       13.777778
1           0006c192       43.891304
0           0006a69f       46.709091

[3485 rows x 2 columns]

# Low accuracy_group

In [29]:
low_accuracy_group = df[df.type == "Assessment"].groupby(["installation_id","game_session"])[['accuracy_group']].min().reset_index().sort_values(by=["installation_id","accuracy_group"],ascending=False)

In [30]:
low_accuracy_group = low_accuracy_group.drop_duplicates(subset="installation_id",keep="first").drop(columns=['game_session']).rename(columns = {'accuracy_group': 'low_accuracy_group'}).reset_index().drop(columns = ['index'])
low_accuracy_group

     installation_id  low_accuracy_group
0           ffeb0b1b                 1.0
1           ffc90c32                 3.0
2           ff9715db                 3.0
3           ff9305d7                 1.0
4           ff90db99                 3.0
5           ff882868                 1.0
6           ff3e1e35                 3.0
7           fe73bf4b                 3.0
8           fe5f0699                 3.0
9           fe4d880a                 3.0
10          fe488283                 1.0
11          fe191c4a                 2.0
12          fdf4eb95                 2.0
13          fddf4b1e                 3.0
14          fd997268                 3.0
15          fd6e3ad6                 3.0
16          fd5385c7                 2.0
17          fd1c8d0b                 3.0
18          fd02a7e0                 3.0
19          fcecab06                 3.0
20          fce2b016                 3.0
21          fcd3ed61                 1.0
22          fcb0a469                 1.0
23          fc771ea3                 1.0
24          fc70e779                 3.0
25          fc4ad96c                 3.0
26          fc48b6a0                 3.0
27          fc3eae77                 1.0
28          fc3a02a4                 3.0
29          fc30ec02                 3.0
...              ...                 ...
2466        02875dc2                 3.0
2467        0281f6bf                 3.0
2468        027b3c4c                 3.0
2469        026035e9                 3.0
2470        023c4bcb                 3.0
2471        0235fe9a                 3.0
2472        022183ab                 3.0
2473        01faa4bf                 3.0
2474        01f71702                 3.0
2475        01cc53f3                 3.0
2476        01bdd720                 3.0
2477        01825124                 3.0
2478        01582211                 3.0
2479        015776b4                 3.0
2480        0155dd86                 3.0
2481        010bc1d5                 3.0
2482        00fc65b6                 3.0
2483        00fa8681                 3.0
2484        00e536bf                 3.0
2485        00e17272                 3.0
2486        00a0dbeb                 0.0
2487        00691033                 3.0
2488        00667b88                 3.0
2489        00634433                 3.0
2490        004c2091                 3.0
2491        003372b0                 3.0
2492        002db7e3                 3.0
2493        001d0ed0                 3.0
2494        0006c192                 3.0
2495        0006a69f                 3.0

[2496 rows x 2 columns]

# Average Number of Actions

In [31]:
average_no_actions = df.groupby(['installation_id','game_session'])[['event_id']].count().reset_index().groupby(['installation_id'])[['event_id']].mean().rename(columns = {'event_id': 'avg_no_actions'}).reset_index()

In [32]:
average_no_actions = average_no_actions.sort_values(by=['installation_id'], ascending=False)
average_no_actions

     installation_id  avg_no_actions
3484        ffeb0b1b       42.555556
3483        ffd2871d      111.000000
3482        ffc90c32       40.061224
3481        ff9715db       46.512195
3480        ff9305d7       73.884615
3479        ff90db99       44.586957
3478        ff882868       51.500000
3477        ff3e1e35       41.979381
3476        ff24ea49       11.666667
3475        ff107709        1.000000
3474        ff00d909       19.400000
3473        fed331e8       38.500000
3472        fe9f9b60       61.000000
3471        fe769df4       77.680000
3470        fe73bf4b       59.600000
3469        fe5f0699       33.233333
3468        fe4d880a       57.600000
3467        fe4a63a7       29.333333
3466        fe488283       73.111111
3465        fe1a1d3f       51.500000
3464        fe191c4a       25.315789
3463        fdf4eb95       36.545455
3462        fddf4b1e       63.222222
3461        fdd082f9       52.916667
3460        fd99b7b3       30.400000
3459        fd997268       35.500000
3458        fd97b5b2       29.333333
3457        fd8ee8db       81.375000
3456        fd6e3ad6       33.739130
3455        fd5385c7       26.671233
...              ...             ...
29          01cc53f3       40.458333
28          01bdd720       59.148148
27          01825124       51.363636
26          0160e7c5       75.000000
25          01582211       38.910714
24          015776b4       59.644068
23          0155dd86       56.305556
22          0153c957       58.640000
21          01120f12       98.600000
20          010bc1d5       45.818182
19          00fc65b6       79.421687
18          00fa8681       33.132743
17          00e536bf       39.800000
16          00e17272       36.750000
15          00cef781       17.888889
14          00b9d8e6        6.300000
13          00ad158e       31.592593
12          00a53963        1.000000
11          00a0dbeb       14.360000
10          00691033       30.470588
9           00667b88        9.818182
8           00634433       19.600000
7           004c2091        7.812500
6           003372b0       34.235294
5           002db7e3       46.287671
4           00279ac5       59.523810
3           00225f67       36.000000
2           001d0ed0       13.777778
1           0006c192       43.891304
0           0006a69f       46.709091

[3485 rows x 2 columns]

# Number of visits to each world

In [33]:
worlds = df.groupby(['installation_id','game_session','world']).count()[['event_id']].reset_index()

In [34]:
world_visits = pd.crosstab(worlds.installation_id, worlds.world)
world_visits

world            CRYSTALCAVES  MAGMAPEAK  NONE  TREETOPCITY
installation_id
0006a69f                    0         13     3           39
0006c192                   12         14     4           16
001d0ed0                   14          0     1           12
00225f67                    0          0     1           15
00279ac5                   12          9     4           17
002db7e3                   15         22     4           32
003372b0                   20          9     1           21
004c2091                   18          9     0            5
00634433                    6          3     1            0
00667b88                   11         17     3           13
00691033                   15         20     4           29
00a0dbeb                    7          4     4           10
00a53963                    0          0     0            1
00ad158e                    5         10     3            9
00b9d8e6                    9          0     1            0
00cef781                    9          0     0            0
00e17272                   14         12     2            8
00e536bf                   26          5     0            9
00fa8681                   44         22     4           43
00fc65b6                   45         22     2           14
010bc1d5                    0          3     0            8
01120f12                    0          4     0            1
0153c957                    6          4     0           15
0155dd86                   31          0     2            3
015776b4                   28         13     1           17
01582211                   32         12     3            9
0160e7c5                    3          0     1            0
01825124                    0          4     1           17
01bdd720                   27          7     2           18
01cc53f3                    9          9     2            4
...                       ...        ...   ...          ...
fd5385c7                   15         22     2           34
fd6e3ad6                   12          7     2           25
fd8ee8db                    2          5     0            1
fd97b5b2                    9          0     0            0
fd997268                    8          1     0            1
fd99b7b3                    0          4     1            0
fdd082f9                    9          2     1            0
fddf4b1e                   17         29     1            7
fdf4eb95                    0          6     1            4
fe191c4a                   10          5     1            3
fe1a1d3f                    0          2     0            0
fe488283                    0          5     0            4
fe4a63a7                    0          0     0            3
fe4d880a                    0          2     3           15
fe5f0699                   10          3     2           15
fe73bf4b                   10          5     1            4
fe769df4                    5         15     2            3
fe9f9b60                    6          0     3            3
fed331e8                    0          0     0           12
ff00d909                    2          0     2           11
ff107709                    0          2     2            0
ff24ea49                    0          0     0            3
ff3e1e35                   35         29     0           33
ff882868                    1          6     1            0
ff90db99                   32         21     5           34
ff9305d7                   11          5     0           10
ff9715db                   16         12     0           13
ffc90c32                   14         12     1           22
ffd2871d                    0          7     1            0
ffeb0b1b                    9          8     3           16

[3485 rows x 4 columns]

# Number of assessments in each world:

In [35]:
assessment_worlds = df[df.type == 'Assessment'].groupby(['installation_id', 'game_session','world']).count()[['event_id']].reset_index()

In [36]:
assessment_worlds = pd.crosstab(assessment_worlds.installation_id, assessment_worlds.world).rename(columns = {'CRYSTALCAVES': 'assesments_CC', 'MAGMAPEAK': 'assessments_MP', 'TREETOPCITY': 'Assessments_TTC'})

# Number of minutes in each type

In [37]:
df.columns

Index(['Unnamed: 0', 'event_id', 'game_session', 'timestamp', 'event_data',
       'installation_id', 'event_count', 'event_code', 'game_time', 'title',
       'type', 'world', 'num_correct', 'num_incorrect', 'accuracy',
       'accuracy_group', 'date', 'hour', 'weekday', 'game_mins'],
      dtype='object')

In [38]:
game_time_group = df.groupby(['installation_id', 'game_session', 'type','date','weekday'])[['game_mins']].max().reset_index()

In [39]:
agg = game_time_group.groupby(['installation_id', 'type'])[['game_mins']].sum()

In [40]:
agg = agg.reset_index()

In [41]:
game_mins = agg.pivot(index = 'installation_id', columns = 'type', values = 'game_mins')

In [42]:
game_mins.fillna(0, inplace= True)

In [43]:
game_mins = game_mins.reset_index()

In [44]:
game_mins.head()

type installation_id   Activity  Assessment  Clip       Game
0           0006a69f  40.428983    3.187867   0.0  21.988250
1           0006c192  20.175500    1.771617   0.0   8.834550
2           001d0ed0   0.477983    2.609250   0.0   4.459850
3           00225f67   3.612000    0.000000   0.0   5.462883
4           00279ac5  25.135867    0.000000   0.0  50.541133

In [45]:
game_mins.columns

Index(['installation_id', 'Activity', 'Assessment', 'Clip', 'Game'], dtype='object', name='type')

In [46]:
game_mins.columns = ['installation_id', 'activity_mins', 'assessment_mins','clip_mins', 'game_mins']

In [47]:
game_mins.head()

  installation_id  activity_mins  assessment_mins  clip_mins  game_mins
0        0006a69f      40.428983         3.187867        0.0  21.988250
1        0006c192      20.175500         1.771617        0.0   8.834550
2        001d0ed0       0.477983         2.609250        0.0   4.459850
3        00225f67       3.612000         0.000000        0.0   5.462883
4        00279ac5      25.135867         0.000000        0.0  50.541133

In [48]:
assess = df[df.type == 'Assessment']

In [49]:
groups = assess.groupby(['title', 'accuracy_group'])[['installation_id']].count().reset_index()

In [50]:
groups.columns = ['title', 'accuracy_group', 'users']
groups.head()

                        title  accuracy_group  users
0  Bird Measurer (Assessment)             0.0  32002
1  Bird Measurer (Assessment)             1.0  43559
2  Bird Measurer (Assessment)             2.0  13192
3  Bird Measurer (Assessment)             3.0  20067
4  Cart Balancer (Assessment)             0.0  17796

In [51]:
# make median dataframe
med = assess.groupby(['installation_id', 'title'])[['accuracy']].median()

In [52]:
med.reset_index(inplace = True)

In [53]:
med_title = med.pivot(index = 'installation_id', columns = 'title', values = 'accuracy')

In [54]:
med_title.fillna(value = 0, inplace = True)

In [55]:
med_title.reset_index(inplace = True)

In [56]:
med_title.columns = ['installation_id', 'bird_med', 'cart_med', 'cauld_med', 'chest_med', 'shroom_med']

In [57]:
med_title.head()

  installation_id  bird_med  cart_med  cauld_med  chest_med  shroom_med
0        0006a69f  0.000000       0.0        0.0        0.0         1.0
1        0006c192  0.000000       0.0        1.0        0.0         0.0
2        001d0ed0  0.000000       1.0        0.0        0.0         0.5
3        002db7e3  0.090909       1.0        1.0        0.0         0.5
4        003372b0  0.500000       1.0        0.0        0.0         1.0

In [58]:
# create mean dataframe
mean_ = assess.groupby(['installation_id', 'title'])[['accuracy']].mean()
mean_.head()

                                              accuracy
installation_id title
0006a69f        Bird Measurer (Assessment)       0.000
                Mushroom Sorter (Assessment)     0.832
0006c192        Cauldron Filler (Assessment)     1.000
                Mushroom Sorter (Assessment)     0.000
001d0ed0        Bird Measurer (Assessment)       0.000

In [59]:
mean_.reset_index(inplace = True)
mean_.head()

  installation_id                         title  accuracy
0        0006a69f    Bird Measurer (Assessment)     0.000
1        0006a69f  Mushroom Sorter (Assessment)     0.832
2        0006c192  Cauldron Filler (Assessment)     1.000
3        0006c192  Mushroom Sorter (Assessment)     0.000
4        001d0ed0    Bird Measurer (Assessment)     0.000

In [60]:
mean_title = mean_.pivot(index = 'installation_id', columns = 'title', values = 'accuracy')
mean_title.head()

title,Bird Measurer (Assessment),Cart Balancer (Assessment),Cauldron Filler (Assessment),Chest Sorter (Assessment),Mushroom Sorter (Assessment)
installation_id,,,,,
0006a69f,0.000000,NaN,NaN,NaN,0.832000
0006c192,NaN,NaN,1.0,NaN,0.000000
001d0ed0,0.000000,1.0,NaN,NaN,0.683168
002db7e3,0.227273,1.0,1.0,0.0,0.723529
003372b0,0.500000,1.0,NaN,0.0,1.000000

In [61]:
mean_title.fillna(0, inplace = True)
mean_title.head()

title,Bird Measurer (Assessment),Cart Balancer (Assessment),Cauldron Filler (Assessment),Chest Sorter (Assessment),Mushroom Sorter (Assessment)
installation_id,,,,,
0006a69f,0.000000,0.0,0.0,0.0,0.832000
0006c192,0.000000,0.0,1.0,0.0,0.000000
001d0ed0,0.000000,1.0,0.0,0.0,0.683168
002db7e3,0.227273,1.0,1.0,0.0,0.723529
003372b0,0.500000,1.0,0.0,0.0,1.000000

In [62]:
mean_title.reset_index(inplace = True)
# mean_title.head()

In [63]:
mean_title.columns = ['installation_id', 'bird_mean', 'cart_mean', 'cauld_mean', 'chest_mean','shroom_mean']

In [64]:
mean_title.head()

  installation_id  bird_mean  cart_mean  cauld_mean  chest_mean  shroom_mean
0        0006a69f   0.000000        0.0         0.0         0.0     0.832000
1        0006c192   0.000000        0.0         1.0         0.0     0.000000
2        001d0ed0   0.000000        1.0         0.0         0.0     0.683168
3        002db7e3   0.227273        1.0         1.0         0.0     0.723529
4        003372b0   0.500000        1.0         0.0         0.0     1.000000

In [65]:
# Create min df
min_ = assess.groupby(['installation_id', 'title'])[['accuracy']].min()

In [66]:
min_.reset_index(inplace = True)

In [67]:
min_title = min_.pivot(index = 'installation_id', columns = 'title', values = 'accuracy')

In [68]:
min_title.fillna(0, inplace = True)

In [69]:
min_title.reset_index(inplace = True)

In [70]:
min_title.columns = ['installation_id', 'bird_min', 'cart_min', 'cauld_min', 'chest_min', 'shroom_min']

In [71]:
# create max dataframe
max_ = assess.groupby(['installation_id', 'title'])[['accuracy']].max()

In [72]:
max_.reset_index(inplace = True)

In [73]:
max_title = max_.pivot(index = 'installation_id', columns = 'title', values = 'accuracy')

In [74]:
max_title.fillna(0, inplace = True)

In [75]:
max_title.reset_index(inplace = True)

In [76]:
max_title.columns = ['installation_id', 'bird_max', 'cart_max', 'cauld_max', 'chest_max', 'shroom_max']

# Merge dataframes together

In [77]:
max_median_low = pd.concat([max_ceiling,median_accuracy_group[['median_accuracy_group']], low_accuracy_group[['low_accuracy_group']]], axis=1)
max_median_low_worlds = pd.merge(assessment_worlds, max_median_low, on = 'installation_id', how = 'left')

In [78]:
beta = pd.merge(beta, max_median_low_worlds, on='installation_id', how = 'left')

In [79]:
beta = pd.merge(beta, average_no_actions, on = 'installation_id', how = 'left')

In [80]:
beta = pd.merge(beta, world_visits, on ='installation_id', how = 'left')

In [81]:
beta = pd.merge(beta, game_mins, on = 'installation_id', how = 'left')

In [82]:
beta = pd.merge(beta, med_title, on = 'installation_id', how = 'left')

In [83]:
beta = pd.merge(beta, mean_title, on = 'installation_id', how = 'left')

In [84]:
beta = pd.merge(beta, min_title, on = 'installation_id', how = 'left')

In [85]:
beta = pd.merge(beta, max_title, on = 'installation_id', how = 'left')

In [92]:
drop_rows = beta[beta.max_accuracy_group.isna()].installation_id
drop_rows

2       00129856
4       00225f67
5       00279ac5
13      00a53963
14      00ad158e
15      00b9d8e6
16      00cef781
22      01120f12
23      0153c957
27      0160e7c5
31      01d5e1f5
37      02490b06
39      026e3733
59      03c5998d
62      03e38765
66      04240fb1
78      04e2712b
81      04fa906f
82      04fbee62
94      05b198a5
100     0642544a
103     0688471f
107     06e6a3e3
109     074b4825
111     076b08db
113     07731248
121     07c25408
123     08062502
127     08a47256
130     08df1cd0
          ...
3452    fb3570a9
3454    fb43d420
3455    fb525d69
3457    fb744280
3461    fb9b2d13
3462    fb9cae89
3467    fc1be71e
3471    fc32e3cc
3476    fc52a88f
3479    fca01871
3480    fcb077e7
3482    fccdeaaf
3485    fce59b03
3487    fcfefae3
3488    fd019f7e
3491    fd242541
3494    fd8ee8db
3495    fd97b5b2
3497    fd99b7b3
3498    fdd082f9
3502    fe1a1d3f
3504    fe4a63a7
3508    fe769df4
3509    fe9f9b60
3510    fed331e8
3511    ff00d909
3512    ff107709
3513    ff24ea49
3515    ff7fb595
3521    ffd2871d
Name: installation_id, Length: 1027, dtype: object

In [107]:
beta1 = beta.drop(drop_rows.index)

In [108]:
# beta1 = beta1.fillna(0)
# beta1

In [109]:
beta1.columns

Index([      'installation_id',                     0.0,
                           1.0,                     2.0,
                           3.0,              'Activity',
                  'Assessment',                  'Clip',
                        'Game',        'accuracy_group',
               'assesments_CC',        'assessments_MP',
             'Assessments_TTC',    'max_accuracy_group',
       'median_accuracy_group',    'low_accuracy_group',
              'avg_no_actions',          'CRYSTALCAVES',
                   'MAGMAPEAK',                  'NONE',
                 'TREETOPCITY',         'activity_mins',
             'assessment_mins',             'clip_mins',
                   'game_mins',              'bird_med',
                    'cart_med',             'cauld_med',
                   'chest_med',            'shroom_med',
                   'bird_mean',             'cart_mean',
                  'cauld_mean',            'chest_mean',
                 'shroom_mean',              'bird_min',
                    'cart_min',             'cauld_min',
                   'chest_min',            'shroom_min',
                    'bird_max',              'cart_max',
                   'cauld_max',             'chest_max',
                  'shroom_max'],
      dtype='object')

In [110]:
beta1.head()

,installation_id,0.0,1.0,2.0,3.0,Activity,Assessment,Clip,Game,accuracy_group,...,bird_min,cart_min,cauld_min,chest_min,shroom_min,bird_max,cart_max,cauld_max,chest_max,shroom_max
0,0006a69f,1.0,0.0,1.0,2.0,10.0,4.0,28.0,13.0,3.0,...,0.000000,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,1.0
1,0006c192,1.0,0.0,0.0,1.0,8.0,2.0,30.0,6.0,2.0,...,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,001d0ed0,1.0,0.0,1.0,2.0,1.0,4.0,19.0,3.0,0.0,...,0.000000,1.0,0.0,0.0,0.5,0.0,1.0,0.0,0.0,1.0
6,002db7e3,2.0,1.0,2.0,3.0,15.0,8.0,39.0,11.0,1.0,...,0.090909,1.0,1.0,0.0,0.5,0.5,1.0,1.0,0.0,1.0
7,003372b0,1.0,0.0,1.0,3.0,8.0,5.0,27.0,11.0,3.0,...,0.500000,1.0,0.0,0.0,1.0,0.5,1.0,0.0,0.0,1.0

In [137]:
beta1.shape

(2496, 45)

In [138]:
beta1.accuracy_group.value_counts()

3.0    1107
0.0     682
1.0     368
2.0     339
Name: accuracy_group, dtype: int64

# Create the Model

In [111]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [112]:
X_list = list(beta1.columns)

In [113]:
X_list.remove('accuracy_group')
X_list.remove('installation_id')
# X_list.remove('median_accuracy_group')
# X_list.remove(2.0)
# X_list.remove('low_accuracy_group')

In [114]:
X_list

[0.0,
 1.0,
 2.0,
 3.0,
 'Activity',
 'Assessment',
 'Clip',
 'Game',
 'assesments_CC',
 'assessments_MP',
 'Assessments_TTC',
 'max_accuracy_group',
 'median_accuracy_group',
 'low_accuracy_group',
 'avg_no_actions',
 'CRYSTALCAVES',
 'MAGMAPEAK',
 'NONE',
 'TREETOPCITY',
 'activity_mins',
 'assessment_mins',
 'clip_mins',
 'game_mins',
 'bird_med',
 'cart_med',
 'cauld_med',
 'chest_med',
 'shroom_med',
 'bird_mean',
 'cart_mean',
 'cauld_mean',
 'chest_mean',
 'shroom_mean',
 'bird_min',
 'cart_min',
 'cauld_min',
 'chest_min',
 'shroom_min',
 'bird_max',
 'cart_max',
 'cauld_max',
 'chest_max',
 'shroom_max']

In [115]:
X = beta1[X_list]
y = beta1[['accuracy_group']]

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

In [126]:
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=7, 
                            random_state=600)

In [127]:
rf.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=7, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=600,
                       verbose=0, warm_start=False)

In [128]:
pd.DataFrame([rf.feature_importances_],columns = X_train.columns).T.rename(columns = {0: 'feature_importance'}).sort_values(by='feature_importance', ascending=False)

                       feature_importance
avg_no_actions                   0.049372
game_mins                        0.044698
assessment_mins                  0.043762
low_accuracy_group               0.042065
max_accuracy_group               0.041833
activity_mins                    0.041747
CRYSTALCAVES                     0.041458
chest_mean                       0.038836
Clip                             0.037618
TREETOPCITY                      0.035140
median_accuracy_group            0.031784
Activity                         0.029451
MAGMAPEAK                        0.028315
bird_mean                        0.027751
3.0                              0.027736
Game                             0.026731
bird_max                         0.026327
0.0                              0.025596
chest_min                        0.023643
shroom_mean                      0.023470
bird_min                         0.021530
bird_med                         0.021393
chest_med                        0.020366
shroom_med                       0.020270
assesments_CC                    0.019819
Assessment                       0.017627
cart_mean                        0.016614
chest_max                        0.016301
shroom_min                       0.015004
cart_min                         0.014537
NONE                             0.014509
cauld_mean                       0.013326
cart_med                         0.012723
Assessments_TTC                  0.012463
cauld_med                        0.012408
assessments_MP                   0.011658
shroom_max                       0.010750
1.0                              0.010660
2.0                              0.009001
cauld_min                        0.008764
cart_max                         0.008006
cauld_max                        0.004936
clip_mins                        0.000000

In [129]:
y_pred = rf.predict(X_train)
y_pred

array([3., 3., 3., ..., 3., 3., 3.])

In [130]:
y_pred_test = rf.predict(X_test)

In [131]:
pd.Series(y_pred).value_counts(normalize=True)

3.0    0.789926
0.0    0.195764
1.0    0.012593
2.0    0.001717
dtype: float64

In [132]:
rf.score(X_train, y_train)

0.5661133371493989

In [133]:
rf.score(X_test, y_test)

0.507343124165554

In [134]:
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

         0.0       0.54      0.38      0.45       199
         1.0       0.33      0.01      0.02        98
         2.0       0.00      0.00      0.00       114
         3.0       0.50      0.90      0.64       338

    accuracy                           0.51       749
   macro avg       0.34      0.32      0.28       749
weighted avg       0.41      0.51      0.41       749

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [136]:
confusion_matrix(y_test,y_pred_test)

array([[ 76,   2,   0, 121],
       [ 13,   1,   0,  84],
       [ 17,   0,   0,  97],
       [ 35,   0,   0, 303]])